{% extends '::base.html.twig' %}

{% block title %}Aktualności - {{ parent() }}{% endblock %}


{% block body %}

    <div id="contentWrapper">
        <div class="pageHeader">
            <div class="title">
                <h1>Newsy</h1>
                <figure class="triangle1"></figure>
                <figure class="triangle2"></figure>
                <figure class="triangle3"></figure>
                <figure class="triangle4"></figure>
                <figure class="decor"></figure>
            </div>
            <div class="image news"></div>
        </div>
        <figure class="line"></figure>
        <section id="breadcrumbs">
            <ul>
                <li class="home"><a href="{{ path('lscms_homepage') }}" class="home">&nbsp;</a></li>
                <li><a href="{{ path('lscms_news') }}">Newsy</a></li>
            </ul>
        </section>
        {% include "LsCmsBundle::leftSidebar.html.twig" %}
        <div id="newsListing" class="wideBox listing">
            <ul>
                {% for entity in entities %}
                    {% set targetHref = path('lscms_news_show', { 'slug': entity.slug })  %}
                    <li>
                        <div class="content">
                            <time>{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
                            <div class="title"><h2><a href="{{ targetHref }}">{{ entity.title }}</a></h2></div>
                            <div class="lead">
                                {{ entity.contentshort }}
                            </div>
                        </div>
                        <figure>
                            <a href="{{ targetHref }}">
                                {% if entity.getPhotoWebPath %}
                                    <img src="{{ entity.getThumbWebPath('list') }}?{{ random(10000) }}" />
                                {% endif %}
                            </a>
                        </figure>
                    </li>
                {% endfor %}
            </ul>

            {{ knp_pagination_render(entities) }}

        </div>
    </div>

{% endblock %}