{% extends '::base.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block body %}

    <div id="contentWrapper">
        <div class="pageHeader">
            <div class="title">
                <h1>Projekty</h1>
                <figure class="triangle1"></figure>
                <figure class="triangle2"></figure>
                <figure class="triangle3"></figure>
                <figure class="triangle4"></figure>
                <figure class="decor"></figure>
            </div>
            <div class="image projects"></div>
        </div>
        <figure class="line"></figure>
        <section id="breadcrumbs">
            <ul>
                <li class="home"><a href="{{ path('lscms_homepage') }}" class="home">&nbsp;</a></li>
                <li><a href="{{ path('lscms_projekty') }}">Projekty</a></li>
                <li><a href="{{ path('lscms_projekty_detail',{slug: entity.slug}) }}">{{ entity.title }}</a></li>
            </ul>
        </section>
        {#{% include "LsCmsBundle::leftSidebar.html.twig" %}#}
        <aside class="sidebarLeft socialIcons">

        </aside>
        <div id="projectsDetail" class="wideBox">
            <section class="topRow">
                <div class="bigPhoto">
                    <a href="{{ entity.getPhotoWebPath() }}" class="fancybox" rel="fancybox">
                        <img src="{{ entity.getThumbWebPath('detail') }}" alt=""/>
                    </a>
                    <div class="title adjustTitleLength">
                        <h1><a href="{{ path('lscms_projekty_detail',{slug: entity.slug}) }}">{{ entity.title }}</a></h1>
                        <figure class="triangle triangle1"></figure>
                    </div>
                </div>

                {% for photo in entity.gallery.photos|slice(0,2) %}
                    <div class="galleryItem">
                        <a href="{{ photo.getPhotoWebPath() }}" class="fancybox" rel="fancybox">
                            <img src="{{ photo.getThumbWebPath('detail') }}?{{ random(10000) }}" alt=""/>
                        </a>
                    </div>
                {% endfor %}

            </section>
            <section class="row">
                <div class="pageContent">
                    <div class="title"><h2>{{ entity.title }}</h2></div>
                    {{ entity.content|raw }}


                </div>

                {% for photo in entity.gallery.photos|slice(2) %}

                    {% if loop.index == 1 %}
                        <div class="galleryItem tall">
                            <a href="{{ photo.getPhotoWebPath() }}" class="fancybox" rel="fancybox">
                                <img src="{{ photo.getThumbWebPath('vertical') }}?{{ random(10000) }}" alt=""/>
                            </a>
                        </div>
                    {% else %}
                        {% if loop.index == 3 %}
                            {% if entity.refs %}
                            <div class="galleryItem realisationInfo">
                                <a href="{{ entity.refs.getPhotoWebPath() }}"  class="fancybox" rel="fancybox">Przeczytaj referencje</a>

                            </div>
                            {% endif %}
                        {% endif %}
                        <div class="galleryItem">
                            <a href="{{ photo.getPhotoWebPath() }}" class="fancybox" rel="fancybox">
                                <img src="{{ photo.getThumbWebPath('detail') }}?{{ random(10000) }}" alt=""/>
                            </a>
                        </div>
                    {% endif %}

                {% endfor %}

            </section>
        </div>
    </div>



    {#<div id="contentWrapper">
        <div class="pageHeader">
            <div class="title">
                <h1>Usługi</h1>
                <figure class="triangle1"></figure>
                <figure class="triangle2"></figure>
                <figure class="triangle3"></figure>
                <figure class="triangle4"></figure>
                <figure class="decor"></figure>
            </div>
            <div class="image subpage"></div>
        </div>
        <figure class="line"></figure>
        <section id="breadcrumbs">
            <ul>
                <li><a href="{{ path('lscms_homepage') }}" class="home">&nbsp;</a></li>
                <li><a href="{{ path('lscms_services') }}">Usługi</a></li>
                <li><a href="{{ path('lscms_services_category',{slug:entity.category.slug}) }}">{{ entity.category.title }}</a></li>
                <li><a href="{{ path('lscms_services_detail',{catslug:entity.category.slug,slug: entity.slug}) }}">{{ entity.title }}</a></li>
            </ul>
        </section>
        {% include "LsCmsBundle::leftSidebar.html.twig" %}

        <div class="wideBox alignSidebarRight">
            <section class="pageContent">
                <div class="title"><h2>{{ entity.title }}</h2></div>
                &#123;&#35;{% if (entity.getPhotoWebPath) %}
                            <a href="{{ entity.getPhotoWebPath() }}?{{ random(10000) }}" class="leading-photo fancybox">
                                <img src="{{ entity.getThumbWebPath('detail') }}?{{ random(10000) }}"/>
                            </a>
                        {% endif %}&#35;&#125;
                {{ entity.content|raw }}
            </section>
            <section class="sidebarRight">
                <div class="galleryItem realisationInfo">
                    <div class="header">Szacowany czas realizacji:</div>
                    <div class="realisationTime">{{ entity.time }}</div>
                    <div class="price">Cena od: <span class="value">{{ entity.price }}</span></div>
                </div>
                {% if entity.gallery %}
                    {% include "LsCmsBundle::gallery.html.twig" with { photos: entity.gallery.photos|slice(0,2) } %}
                {% endif %}
            </section>
        </div>
    </div>#}

{% endblock %}
