{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/lscms/js/uploadify/jquery.uploadify.min.js') }}"></script>
    <script type="text/javascript">
        var files;
        $(document).ready(function () {
            var folder = '{{ uploadfolder }}';
            folder = folder.replace(/\\/g, '/');
            files = '';
            $('#multiuploader').uploadify({
                'swf': '{{ asset('bundles/lscms/js/uploadify/uploadify.swf') }}',
                'uploader': '{{ asset('bundles/lscms/js/uploadify/uploadify.php') }}',
                'formData': {
                    'folder': folder
                },
                'buttonText': 'Dodaj wiele',
                'multi': true,
                'auto': true,
                'fileSizeLimit': '2MB',
                'width': 128,
                'height': 28,
                'onUploadSuccess': function (file, data, response) {
                    files += ';' + data;
                },
                'onQueueComplete': function (queueData) {
                    $.ajax({
                        type: 'post',
                        url: '{{ addurl }}',
                        data: {
                            'files': files
                        },
                        success: function (response) {
                            if (response === 'ok') {
                                window.location.pathname = '{{ redirecturl }}';
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block actions %}
    <div class="sonata-actions btn-group">
        {% include 'SonataAdminBundle:Core:create_button.html.twig' %}
    </div>
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endblock %}

{% block list_table %}
    {% set batchactions = admin.batchactions %}
    {% if admin.datagrid.results|length > 0 %}
        {% if admin.hasRoute('batch') %}
            <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" >
            <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}
        <table class="table table-bordered table-striped">
            {% block table_header %}
                <thead>
                <tr class="sonata-ba-list-field-header">
                    {% for field_description in admin.list.elements %}
                        {% if admin.hasRoute('batch') and field_description.getOption('code') == '_batch' and batchactions|length > 0 %}
                            <th class="sonata-ba-list-field-header sonata-ba-list-field-header-batch">
                                <input type="checkbox" id="list_batch_checkbox"/>
                            </th>
                        {% elseif field_description.getOption('code') == '_select' %}
                            <th class="sonata-ba-list-field-header sonata-ba-list-field-header-select"></th>
                        {% elseif field_description.name == '_action' and app.request.isXmlHttpRequest %}
                            {# Action buttons disabled in ajax view! #}
                        {% else %}
                            {% set sortable = false %}
                            {% if field_description.options.sortable is defined and field_description.options.sortable %}
                                {% set sortable             = true %}
                                {% set sort_parameters      = admin.modelmanager.sortparameters(field_description, admin.datagrid) %}
                                {% set current              = admin.datagrid.values._sort_by == field_description or admin.datagrid.values._sort_by.fieldName == sort_parameters.filter._sort_by %}
                                {% set sort_active_class    = current ? 'sonata-ba-list-field-order-active' : '' %}
                                {% set sort_by              = current ? admin.datagrid.values._sort_order : field_description.options._sort_order %}
                            {% endif %}

                            {% spaceless %}
                                <th class="sonata-ba-list-field-header-{{ field_description.type }} {% if sortable %} sonata-ba-list-field-header-order-{{ sort_by|lower }} {{ sort_active_class }}{% endif %}">
                                    {% if sortable %}
                                    <a href="{{ admin.generateUrl('list', sort_parameters) }}">{% endif %}
                                        {{ admin.trans(field_description.label) }}
                                        {% if sortable %}</a>{% endif %}
                                </th>
                            {% endspaceless %}
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
            {% endblock %}

            {% block table_body %}
                <tbody>
                {% for object in admin.datagrid.results %}
                    <tr>
                        {% include admin.getTemplate('inner_list_row') %}
                    </tr>
                {% endfor %}
                </tbody>
            {% endblock %}

            {% block table_footer %}
                <tr>
                    <th colspan="{{ admin.list.elements|length - (app.request.isXmlHttpRequest ? (admin.list.has('_action') + admin.list.has('batch')) : 0) }}">
                        <div class="form-inline">
                            {% if not app.request.isXmlHttpRequest %}
                                {% if admin.hasRoute('batch') and batchactions|length > 0 %}
                                    {% block batch %}
                                        <script type="text/javascript">
                                            {% block batch_javascript %}
                                            jQuery(document).ready(function ($) {
                                                $('#list_batch_checkbox').click(function () {
                                                    $(this).closest('table').find("td input[type='checkbox']").attr('checked', $(this).is(':checked')).parent().parent().toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'));
                                                });
                                                $("td.sonata-ba-list-field-batch input[type='checkbox']").change(function () {
                                                    $(this).parent().parent().toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'));
                                                });
                                            });
                                            {% endblock %}
                                        </script>

                                        {% block batch_actions %}
                                            <label class="checkbox" for="{{ admin.uniqid }}_all_elements">
                                                <input type="checkbox" name="all_elements" id="{{ admin.uniqid }}_all_elements"/>
                                                {{ 'all_elements'|trans({}, 'SonataAdminBundle') }}
                                            </label>

                                            <select name="action" style="width: auto; height: auto">
                                                {% for action, options in batchactions %}
                                                    <option value="{{ action }}">{{ options.label }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endblock %}
                                    {% endblock %}

                                    <input type="submit" class="btn btn-small btn-primary" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}"/>
                                {% endif %}

                                <div class="pull-right">
                                    {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                                        {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                                        {% for format in admin.getExportFormats() %}
                                            <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">{{ format }}</a>{% if not loop.last %},{% endif %}
                                        {% endfor %}

                                        &nbsp;-&nbsp;
                                    {% endif %}

                                    {% block pager_results %}
                                        {% include admin.getTemplate('pager_results') %}
                                    {% endblock %}
                                </div>
                            {% endif %}
                        </div>
                    </th>
                </tr>

                {% block pager_links %}
                    {% if admin.datagrid.pager.haveToPaginate() %}
                        {% include admin.getTemplate('pager_links') %}
                    {% endif %}
                {% endblock %}

            {% endblock %}
        </table>
        {% if admin.hasRoute('batch') %}
            </form>
        {% endif %}
    {% else %}
        <p class="notice">
            {{ 'no_result'|trans({}, 'SonataAdminBundle') }}
        </p>
    {% endif %}
{% endblock %}

{% block list_filters %}
    {% if admin.datagrid.filters %}
        <form class="sonata-filter-form {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}" action="{{ admin.generateUrl('list') }}" method="GET">
            <fieldset class="filter_legend">
                <legend class="filter_legend {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">{{ 'label_filters'|trans({}, 'SonataAdminBundle') }}</legend>

                <div class="filter_container {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">
                    <div>
                        {% for filter in admin.datagrid.filters %}
                            <div class="clearfix">
                                <label for="{{ form.children[filter.formName].children['value'].vars.id }}">{{ admin.trans(filter.label) }}</label>
                                {{ form_widget(form.children[filter.formName].children['type'], {'attr': {'class': 'span8 sonata-filter-option' }}) }}
                                {{ form_widget(form.children[filter.formName].children['value'], {'attr': {'class': 'span8' }}) }}
                            </div>
                        {% endfor %}
                    </div>

                    <input type="hidden" name="filter[_page]" id="filter__page" value="1"/>

                    {% set foo = form.children['_page'].setRendered() %}
                    {{ form_rest(form) }}

                    <input type="submit" class="btn btn-primary" value="{{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}"/>

                    <a class="btn" href="{{ admin.generateUrl('list', {filters: 'reset'}) }}">{{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a>
                </div>

                {% for paramKey, paramValue in admin.persistentParameters %}
                    <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}"/>
                {% endfor %}
            </fieldset>
        </form>
    {% endif %}
{% endblock %}

{% block footer %}
    <div class="row-fluid">
        <div id="multiuploader"></div>
        <div class="span2 offset10 pull-right">
            <span class="label"><a href="http://sonata-project.org" rel="noreferrer" style="text-decoration: none; color: black">Sonata Project</a></span>
        </div>
    </div>
{% endblock %}
