/*
Uploadify
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
Released under the MIT License <http://www.opensource.org/licenses/mit-license.php> 
*/

.uploadify {
    position: relative;
    margin-bottom: 1em;
}

.uploadify-button {
    background: #d4dfe9; /* Old browsers */
    background: -moz-linear-gradient(top, #d4dfe9 0%, #b6d1e9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4dfe9), color-stop(100%,#b6d1e9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d4dfe9 0%,#b6d1e9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d4dfe9 0%,#b6d1e9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d4dfe9 0%,#b6d1e9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d4dfe9 0%,#b6d1e9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4dfe9', endColorstr='#b6d1e9',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #426380;
    color: #44729c;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.44);
    width: 100%;
}

.uploadify:hover .uploadify-button {
    text-decoration: underline;
}

.uploadify-button.disabled {
    background-color: #D0D0D0;
    color: #808080;
}

.uploadify-queue {
    margin-bottom: 1em;
}

.uploadify-queue-item {
    background-color: #F5F5F5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font: 11px Verdana, Geneva, sans-serif;
    margin-top: 5px;
    max-width: 350px;
    padding: 10px;
}

.uploadify-error {
    background-color: #FDE5DD !important;
}

.uploadify-queue-item .cancel a {
    background: url('./uploadify-cancel.png') 0 0 no-repeat;
    float: right;
    height:	16px;
    text-indent: -9999px;
    width: 16px;
}

.uploadify-queue-item.completed {
    background-color: #E5E5E5;
}

.uploadify-progress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
}

.uploadify-progress-bar {
    background-color: #0099FF;
    height: 3px;
    width: 1px;
}