<div class="popup_title">Karnet</div>
<div class="popup_text"><span>Krok 4.</span> Finalizacja.</div>
<div class="karnety_container" style="padding: 3px 0px 16px 0px">
    <div class="karnet_text_green">Przelew prosimy dokonać na wskazany numer konta:</div>
    <div class="karnet_text_white">
        {{ cms_config.get('kontakt_numer_konta', '') }}<br />
        {{ cms_config.get('kontakt_nazwa_short', '') }}<br />
        ul.&nbsp;{{ cms_config.get('kontakt_ulica', '') }}&nbsp;{{ cms_config.get('kontakt_numer', '') }}<br />
        {{ cms_config.get('kontakt_kod_pocztowy', '') }}&nbsp;{{ cms_config.get('kontakt_miasto', '') }}
    </div>
    <div class="karnet_text_green">w tytule przelewu proszę wpisać specjalnie wygenerowany kod:</div>
    <div class="karnet_text_white">{{ code }}</div>
</div>
<div class="popup_form_separator" style="margin: 0px auto;"></div>
<div class="karnety_container" style="padding: 21px 0px 23px 0px">
    <div class="karnet_text_green" style="line-height: 18px;">Dane niezbędne do finalizacji zamówienia zostaną również przesłane<br />na adres e-mail podany w poprzednim kroku.</div>
</div>
<div class="karnet_form_container">
    <form id="karnet-step-4-form" action="{{ path('lscms_karnet_step_4_submit') }}" onsubmit="return submitKarnetStep4();">
        <div class="popup_form_separator" style="margin: 0px auto 29px auto;"></div>
        <div class="popup_form_field">
            <input type="hidden" name="code" value="{{ code }}" />
            <input type="submit" name="submit" value="Potwierdź i zakończ" />
        </div>
    </form>
</div>
