{% extends '::base.html.twig' %}

{% block title %}Promocje - {{ parent() }}{% endblock %}


{% block body %}
    <div id="contentWrapper">
        <div class="pageHeader">
            <div class="title">
                <h1>Promocje</h1>
                <figure class="triangle1"></figure>
                <figure class="triangle2"></figure>
                <figure class="triangle3"></figure>
                <figure class="triangle4"></figure>
                <figure class="decor"></figure>
            </div>
            <div class="image promotions"></div>
        </div>
        <figure class="line"></figure>
        <section id="breadcrumbs">
            <ul>
                <li class="home"><a href="{{ path('lscms_homepage') }}" class="home">&nbsp;</a></li>
                <li><a href="{{ path('lscms_promo') }}">Promocje</a></li>
            </ul>
        </section>
        {% include "LsCmsBundle::leftSidebar.html.twig" %}
        <div id="promotions" class="wideBox">
            <ul>
                {% for entity in entities %}
                <li>
                    <div class="content">
                        <div class="title"><h2>{{ entity.title }}</h2></div>
                        {{ entity.content|raw }}
                    </div>
                    <figure><img src="{{ entity.getThumbWebPath('list') }}" alt=""/></figure>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}