<div class="popup_title">Wizyta</div>
<div class="popup_text">Uzupełnij poniższe pola,<br/>aby umówić się na wizytę.</div>
<div class="wizyta_form_container">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'onsubmit': 'return sendWizyta();', 'class': 'wizyta-form'}}) }}
    <div class="popup_form_field">
        {{ form_widget(form.firstname, {'attr': {'class': 'wizyta-firstname', 'placeholder': form.firstname.vars.label }}) }}
    </div>
    <div class="popup_form_field">
        {{ form_widget(form.lastname, {'attr': {'class': 'wizyta-lastname', 'placeholder': form.lastname.vars.label }}) }}
    </div>
    <div class="popup_form_field">
        {{ form_widget(form.phone, {'attr': {'class': 'wizyta-phone', 'placeholder': form.phone.vars.label }}) }}
    </div>
    <div class="popup_form_field">
        {{ form_widget(form.email, {'attr': {'class': 'wizyta-email', 'placeholder': form.email.vars.label }}) }}
    </div>
    <div class="popup_form_label">Preferowany termin wizyty:</div>
    <div class="popup_form_field">
        <div class="datepicker_container">
            {{ form_widget(form.termin, {'attr': {'class': 'datepicker wizyta-termin'}}) }}
        </div>
    </div>
    <div class="popup_form_label">Informacje dodatkowe:</div>
    <div class="popup_form_field">
        {{ form_widget(form.content, {'attr': {'class': 'wizyta-content'}}) }}
    </div>
    <div class="popup_form_separator"></div>
    <div class="popup_form_field">
        {{ form_widget(form.personid, {'attr': {'class': 'wizyta-personid', 'value': id}}) }}
        {{ form_widget(form.submit) }}
    </div>
    {{ form_end(form) }}
</div>
