{% set tileTransparency = '0.9' %}
{% if pattern == 1 %}
<div class="tile color-1 narrow tall">
    <div class="img">
        <img src="{{ entity.category.getThumbWebPath('vertical') }}" alt=""/>
    </div>
    <div class="text-wrapper" style="border-color: #{{ entity.category.color }};">
        <time style="background-color: #{{ entity.category.color }};">{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
        <a href="{{ path('lscms_porady_show',{slug:entity.getSlug}) }}" class="lead">{{ entity.getTitle() }}</a>
    </div>
    <div class="category" style="background-color: rgba({{ entity.category.getColorRGB|join(',') }},{{ tileTransparency }});">
        <div class="inner">
                        <span class="text">
                            {{ entity.category }}
                        </span>
        </div>
    </div>
</div>
<div class="filler-sd align-to-tall"></div>
{% endif %}

{% if pattern == 2 %}
<div class="tile color-2 wide">
    <div class="img">
        <img src="{{ entity.category.getThumbWebPath('detail') }}" alt=""/>
    </div>
    <div class="text-wrapper" style="border-color: #{{ entity.category.color }};">
        <time style="background-color: #{{ entity.category.color }};">{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
        <a href="{{ path('lscms_porady_show',{slug:entity.getSlug}) }}" class="lead">{{ entity.getTitle() }}</a>
    </div>
    <div class="category" style="background-color: rgba({{ entity.category.getColorRGB|join(',') }},{{ tileTransparency }});">
        <div class="inner">
                        <span class="text">
                            {{ entity.category }}
                        </span>
        </div>
    </div>
</div>
<div class="filler-sd pushed-left"></div>
{% endif %}

{% if pattern == 3 %}
<div class="tile color-3 narrow">
    <div class="img">
        <img src="{{ entity.category.getThumbWebPath('list') }}" alt=""/>
    </div>
    <div class="text-wrapper" style="border-color: #{{ entity.category.color }};">
        <time style="background-color: #{{ entity.category.color }};">{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
        <a href="{{ path('lscms_porady_show',{slug:entity.getSlug}) }}" class="lead">{{ entity.getTitle() }}</a>
    </div>
    <div class="category" style="background-color: rgba({{ entity.category.getColorRGB|join(',') }},{{ tileTransparency }});">
        <div class="inner">
                        <span class="text">
                            {{ entity.category }}
                        </span>
        </div>
    </div>
</div>
<div class="filler-md"></div>
{% endif %}


{% if pattern == 4 %}
<div class="tile color-4 wide">
    <div class="img">
        <img src="{{ entity.category.getThumbWebPath('detail') }}" alt=""/>
    </div>
    <div class="text-wrapper" style="border-color: #{{ entity.category.color }};">
        <time style="background-color: #{{ entity.category.color }};">{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
        <a href="{{ path('lscms_porady_show',{slug:entity.getSlug}) }}" class="lead">{{ entity.getTitle() }}</a>
    </div>
    <div class="category" style="background-color: rgba({{ entity.category.getColorRGB|join(',') }},{{ tileTransparency }});">
        <div class="inner">
                        <span class="text">
                            {{ entity.category }}
                        </span>
        </div>
    </div>
</div>
{% endif %}


{% if pattern == 5 %}
<div class="tile color-5 narrow">
    <div class="img">
        <img src="{{ entity.category.getThumbWebPath('list') }}" alt=""/>
    </div>
    <div class="text-wrapper" style="border-color: #{{ entity.category.color }};">
        <time style="background-color: #{{ entity.category.color }};">{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
        <a href="{{ path('lscms_porady_show',{slug:entity.getSlug}) }}" class="lead">{{ entity.getTitle() }}</a>
    </div>
    <div class="category" style="background-color: rgba({{ entity.category.getColorRGB|join(',') }},{{ tileTransparency }});">
        <div class="inner">
                        <span class="text">
                            {{ entity.category }}
                        </span>
        </div>
    </div>
</div>
<div class="filler-sd"></div>
{% endif %}


{% if pattern == 6 %}
<div class="tile color-6 wide">
    <div class="img">
        <img src="{{ entity.category.getThumbWebPath('detail') }}" alt=""/>
    </div>
    <div class="text-wrapper" style="border-color: #{{ entity.category.color }};">
        <time style="background-color: #{{ entity.category.color }};">{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
        <a href="{{ path('lscms_porady_show',{slug:entity.getSlug}) }}" class="lead">{{ entity.getTitle() }}</a>
    </div>
    <div class="category" style="background-color: rgba({{ entity.category.getColorRGB|join(',') }},{{ tileTransparency }});">
        <div class="inner">
                        <span class="text">
                            {{ entity.category }}
                        </span>
        </div>
    </div>
</div>
{% endif %}


{% if pattern == 7 %}

<div class="tile color-7 narrow">
    <div class="img">
        <img src="{{ entity.category.getThumbWebPath('list') }}" alt=""/>
    </div>
    <div class="text-wrapper" style="border-color: #{{ entity.category.color }};">
        <time style="background-color: #{{ entity.category.color }};">{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
        <a href="{{ path('lscms_porady_show',{slug:entity.getSlug}) }}" class="lead">{{ entity.getTitle() }}</a>
    </div>
    <div class="category" style="background-color: rgba({{ entity.category.getColorRGB|join(',') }},{{ tileTransparency }});">
        <div class="inner">
                        <span class="text">
                            {{ entity.category }}
                        </span>
        </div>
    </div>
</div>
<div class="filler-sd"></div>
<div class="filler-sd align-to-tall pushed-left"></div>

{% endif %}

{% if pattern == 8 %}
<div class="tile color-8 narrow pushed-right tall">
    <div class="img">
        <img src="{{ entity.category.getThumbWebPath('vertical') }}" alt=""/>
    </div>
    <div class="text-wrapper" style="border-color: #{{ entity.category.color }};">
        <time style="background-color: #{{ entity.category.color }};">{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
        <a href="{{ path('lscms_porady_show',{slug:entity.getSlug}) }}" class="lead">{{ entity.getTitle() }}</a>
    </div>
    <div class="category" style="background-color: rgba({{ entity.category.getColorRGB|join(',') }},{{ tileTransparency }});">
        <div class="inner">
                        <span class="text">
                            {{ entity.category }}
                        </span>
        </div>
    </div>
</div>

{% endif %}


{% if pattern == 9 %}
<div class="tile color-9 wide">
    <div class="img">
        <img src="{{ entity.category.getThumbWebPath('detail') }}" alt=""/>
    </div>
    <div class="text-wrapper" style="border-color: #{{ entity.category.color }};">
        <time style="background-color: #{{ entity.category.color }};">{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
        <a href="{{ path('lscms_porady_show',{slug:entity.getSlug}) }}" class="lead">{{ entity.getTitle() }}</a>
    </div>
    <div class="category" style="background-color: rgba({{ entity.category.getColorRGB|join(',') }},{{ tileTransparency }});">
        <div class="inner">
                        <span class="text">
                            {{ entity.category }}
                        </span>
        </div>
    </div>
</div>

{% endif %}

