<div class="popup_title">Karnet</div>
<div class="popup_text"><span>Krok 1.</span> Wybierz rodzaj karnetu.</div>
<div class="karnety_container">
    {% for item in karnety %}
        <div class="karnet_item{% if loop.first %} karnet_item_first{% endif %}{% if loop.last %} karnet_item_last{% endif %}">
            <div id="karnet-id-{{ item.id }}" class="karnet_item_checbox"></div>
            <div class="karnet_item_name"><span>Karnet</span><br />{{ item.name }}</div>
            <div class="karnet_item_separator"></div>
            <div class="karnet_item_description">{{ item.description }}</div>
            <div class="karnet_item_price">{% if item.promoprice %}{{ item.promoprice }}{% else %}{{ item.price }}{% endif %} zł</div>
        </div>
    {% endfor %}
    <div class="clear"></div>
</div>
<div class="karnet_form_container">
    <form id="karnet-step-1-form" action="{{ path('lscms_karnet_step_1_submit') }}" onsubmit="return submitKarnetStep1();">
        <div class="popup_form_separator" style="margin-bottom: 19px;"></div>
        <div class="popup_form_field">
            <input type="hidden" name="karnet_id" id="karnet-id" />
            <input type="submit" name="submit" value="Przejdź dalej" />
        </div>
    </form>
</div>
