{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
    <div class="sonata-actions btn-group">
        {% include 'SonataAdminBundle:Button:list_button.html.twig' %}
    </div>
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endblock %}

{% block show %}
    <div class="sonata-ba-view">
        {% for name, view_group in admin.showgroups %}
            <table class="table table-bordered">
                <tr class="sonata-ba-view-container">
                    {% for field_name in view_group.fields %}
                        {% if field_name == 'code' and elements['code'] is defined %}
                            {{ elements['code']|render_view_element(object) }}
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>Klient</th>
                    <td>
                        {{ object.name }}<br/>
                        E-mail: {{ object.email }}<br/>
                        Tel.: {{ object.phone }}<br />
                        Dokument tożsamości: {{ object.document }}
                    </td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>Karnet</th>
                    <td>{{ object.karnet.name }}</td>
                </tr>
                <tr class="sonata-ba-view-container">
                    {% for field_name in view_group.fields %}
                        {% if field_name == 'price' and elements['price'] is defined %}
                            {{ elements['price']|render_view_element(object) }}
                        {% endif %}
                    {% endfor %}
                </tr>
                <tr class="sonata-ba-view-container">
                    {% for field_name in view_group.fields %}
                        {% if field_name == 'created_at' and elements['created_at'] is defined %}
                            {{ elements['created_at']|render_view_element(object) }}
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>
        {% endfor %}
    </div>
{% endblock %}
