
    {% for photo in photos %}
        <div class="galleryItem">
            <a href="{{ photo.getPhotoWebPath() }}" class="fancybox" rel="fancybox">
                <img src="{{ photo.getThumbWebPath('detail') }}?{{ random(10000) }}" alt=""/>
            </a>
        </div>
    {% endfor %}
