<div class="left">
    <div>
        {% for item in news %}
            <div class="item">
                <div class="photo">
                    {% if item.getPhotoWebPath %}
                        <img src="{{ item.getThumbWebPath('detail') }}?{{ random(10000) }}"/>
                    {% endif %}
                </div>
                <div class="date">{{ item.publishedat|localizeddate('long', 'none', 'pl') }}</div>
                <a href="{{ path('lscms_news_show', { 'slug': item.slug }) }}" class="title">{{ item.title }}</a>

                <div class="desc">{{ item.contentshort }}</div>
                <a href="{{ path('lscms_news_show', { 'slug': item.slug }) }}" class="link"></a>
            </div>
        {% endfor %}
        <div class="clear"></div>
    </div>
    <a class="link" href="{{ path('lscms_news') }}">Zobacz wszystkie</a>
</div>
<div class="right">
    <div class="leaf_banner">
        <div class="header">
            Czym jest <span>New Life?</span>
        </div>
        {{ cms_config.get('added_texts_new_life_main', '')|raw }}
        <a class="more" href="{{ path('lscms_pages_show', { 'slug': 'o-centrum' }) }}">Dowiedz się więcej</a>
    </div>
    <div class="contact_banner">
        <div class="header">{{ cms_config.get('kontakt_miasto', '') }}</div>
        <div class="address">{{ cms_config.get('kontakt_ulica', '') }}
            <span>{{ cms_config.get('kontakt_numer', '') }}</span></div>
        <div id="map_container">
            <div id="map"></div>
            <div id="map-mask"></div>
        </div>
        <div class="phone">
            <span>{{ cms_config.get('kontakt_telefon_1_prefix', '') }} </span>{{ cms_config.get('kontakt_telefon_1', '') }}
        </div>
        <div class="phone">
            <span>{{ cms_config.get('kontakt_telefon_2_prefix', '') }} </span>{{ cms_config.get('kontakt_telefon_2', '') }}
        </div>
        <a href="{{ path('lscms_kontakt') }}" class="link">Przejdź do kontaktu</a>
        <div class="phone_icon"></div>
    </div>
</div>
<div class="clear"></div>
