{% extends '::base.html.twig' %}

{% block title %}Usługi - {{ parent() }}{% endblock %}



{% block body %}

    <div id="contentWrapper">
        <div class="pageHeader">
            <div class="title">
                <h1>Usługi</h1>
                <figure class="triangle1"></figure>
                <figure class="triangle2"></figure>
                <figure class="triangle3"></figure>
                <figure class="triangle4"></figure>
                <figure class="decor"></figure>
            </div>
            <div class="image services"></div>
        </div>
        <figure class="line"></figure>
        <section id="breadcrumbs">
            <ul>
                <li class="home"><a href="{{ path('lscms_homepage') }}" class="home">&nbsp;</a></li>
                <li><a href="{{ path('lscms_services') }}">Usługi</a></li>
                <li><a href="{{ path('lscms_services_category',{slug:category.slug}) }}">{{ category.title }}</a></li>
            </ul>
        </section>
        {% include "LsCmsBundle::leftSidebar.html.twig" %}
        <div id="servicesSubcategories" class="wideBox listing">
            <ul>
                {% set selSub = false %}
                {% for entity in entities %}


                {% if entity.subcategory %}
                    {% if entity.subcategory != selSub  %}
                        {% set selSub = entity.subcategory %}
                    <li class="subCat">
                        <p>{{ entity.subcategory }}</p>
                    </li>
                    {% endif %}
                {% endif %}

                <li>
                    <div class="content">
                        <div class="title"><h2><a href="{{ path('lscms_services_detail',{catslug:category.slug,slug:entity.slug}) }}">{{ entity.title }}</a></h2></div>
                        <div class="lead">
                            {{ entity.contentShort|raw }}
                        </div>
                    </div>
                    <figure><a href="{{ path('lscms_services_detail',{catslug:category.slug,slug:entity.slug}) }}"><img src="{{ entity.getThumbWebPath('list') }}" alt=""/></a></figure>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {#<div id="contentWrapper">
        <div class="pageHeader">
            <div class="title">
                <h1>Usługi</h1>
                <figure class="triangle1"></figure>
                <figure class="triangle2"></figure>
                <figure class="triangle3"></figure>
                <figure class="triangle4"></figure>
                <figure class="decor"></figure>
            </div>
            <div class="image services"></div>
        </div>
        <figure class="line"></figure>
        <section id="breadcrumbs">
            <ul>
                <li><a href="{{ path('lscms_homepage') }}" class="home">&nbsp;</a></li>
                <li><a href="{{ path('lscms_services') }}">Usługi</a></li>
            </ul>
        </section>
        {% include "LsCmsBundle::leftSidebar.html.twig" %}
        <div id="servicesListing" class="wideBox">
            <ul>
                {% for entity in entities %}

                <li>
                    <div class="content">
                        <div class="title adjustTitleLength adjustLeftOffset">
                            <h2><a href="#">{{ entity.title }}</a></h2>
                            <figure class="triangle triangle1"></figure>
                        </div>
                        <a href="uslugi-podkategorie.php" class="cover"><img src="{{ entity.getThumbWebPath('top') }}" alt=""/></a>
                    </div>
                </li>

                {% endfor %}
            </ul>
        </div>
    </div>#}

{% endblock %}
