{% extends '::base.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block body %}

    {#<div id="content-wrapper">
        <div class="content">
            <section class="header bg-1"><h1>{{ entity.seotitle }}</h1>
                <a href="#" class="go-back">Powrót</a>
            </section>
            {% include "LsCmsBundle::rightSide.html.twig" with {categories : categories, label: 'Moja działalność:'} %}
            <section class="right-side">
                <article>
                    <header>
                        <h1 class="title color">{{ entity.title }}</h1>
                    </header>
                    <div class="content">
                        {% if entity.getPhotoWebPath %}
                            <a href="{{ entity.getPhotoWebPath() }}?{{ random(10000) }}" class="leading-photo fancybox">
                                <img src="{{ entity.getThumbWebPath('detail') }}?{{ random(10000) }}"/>
                            </a>
                        {% endif %}
                        {{ entity.content|raw }}
                        {% if entity.gallery %}
                            {% include "LsCmsBundle::gallery.html.twig" with { photos: entity.gallery.photos } %}
                        {% endif %}
                    </div>
                </article>
            </section>
        </div>
    </div>#}

    <div id="contentWrapper">
        <div class="pageHeader">
            <div class="title">
                <h1>{{ entity.seotitle }}</h1>
                <figure class="triangle1"></figure>
                <figure class="triangle2"></figure>
                <figure class="triangle3"></figure>
                <figure class="triangle4"></figure>
                <figure class="decor"></figure>
            </div>
            <div class="image subpage"></div>
        </div>
        <figure class="line"></figure>
        <section id="breadcrumbs">
            <ul>
                <li class="home"><a href="{{ path('lscms_homepage') }}" class="home">&nbsp;</a></li>
                <li><a href="{{ path('lscms_pages_show',{slug: entity.slug}) }}">O nas</a></li>
            </ul>
        </section>
        {% include "LsCmsBundle::leftSidebar.html.twig" %}

        <div class="wideBox alignSidebarRight">
            <section class="pageContent">
                <div class="title"><h2>{{ entity.title }}</h2></div>
                {#{% if (entity.getPhotoWebPath) %}
                            <a href="{{ entity.getPhotoWebPath() }}?{{ random(10000) }}" class="leading-photo fancybox">
                                <img src="{{ entity.getThumbWebPath('detail') }}?{{ random(10000) }}"/>
                            </a>
                        {% endif %}#}
                {{ entity.content|raw }}
            </section>
            <section class="sidebarRight">
                {% if entity.gallery %}
                    {% include "LsCmsBundle::gallery.html.twig" with { photos: entity.gallery.photos } %}
                {% endif %}
            </section>
        </div>
    </div>

{% endblock %}
