body {
    background: transparent url('bg.jpg') no-repeat fixed center top;
}

.content {
    margin: 0px auto;
    width: 980px;
}

.link {
    margin: 46px auto 0px auto;
    position: relative;
    display: block;
    width: 882px;
    height: 258px;
    cursor: pointer;
}

.link .view {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: block;
    width: 882px;
    height: 258px;
}

.link .view .mask {
    padding: 100px 0px;
    text-align: center;
    position: absolute;
    display: block;
    width: 882px;
    height: 58px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    bottom: -258px;
}

.link .view .mask .text {
    font-family: 'Lato', sans-serif;
    padding: 0px 25px;
    text-align: center;
    display: inline-block;
    height: 58px;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 900;
    line-height: 58px;
    color: #ffffff;
}

.link:hover .view .mask {
    bottom: 0;
}

.link .view .icon {
    position: absolute;
    bottom: 30px;
    left: 47px;
    display: block;
    width: 265px;
    height: 85px;
}

.link .shadow {
    background: transparent url('link-shadow.png') no-repeat left top;
    position: absolute;
    top: 258px;
    left: 0px;
    display: block;
    width: 882px;
    height: 20px;
}

.buttons {
    width: 882px;
    margin: 36px auto 0 auto;
    overflow: hidden;
}

.buttons a {
    float: left;
    border: 4px solid #74add6;
    line-height: 34px;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 0 19px;
    margin-right: 21px;
    color: #fff;
    text-decoration: none;
}

.buttons a:hover {
    background: #74add6;
}

.buttons .map {
    
}

#detailing {
    background: transparent url('detailing.jpg') no-repeat left top;
    margin-top: 28px;
}

#detailing .view .mask {
    background: transparent url('detailing-mask.png') repeat left top;
}

#detailing .view .mask .text {
    background-color: #0d4376;
}

#detailing .view .icon {
    background: transparent url('detailing-icon.png') no-repeat left top;
}

#repair {
    background: transparent url('repair.jpg') no-repeat left top;
}

#repair .view .mask {
    background: transparent url('repair-mask.png') repeat left top;
}

#repair .view .mask .text {
    background-color: #004d50;
}

#repair .view .icon {
    background: transparent url('repair-icon.png') no-repeat left top;
}

#wash {
    background: transparent url('wash.jpg') no-repeat left top;
}

#wash .view .mask {
    background: transparent url('wash-mask.png') repeat left top;
}

#wash .view .mask .text {
    background-color: #f59621;
}

#wash .view .icon {
    background: transparent url('wash-icon.png') no-repeat left top;
}

#rental {
    background: transparent url('rental.jpg') no-repeat left top;
}

#rental .view .mask {
    background: transparent url('rental-mask.png') repeat left top;
}

#rental .view .mask .text {
    background-color: #063d16;
}

#rental .view .icon {
    background: transparent url('rental-icon.png') no-repeat left top;
}

#furniture-care {
    background: transparent url('furniture-care.jpg') no-repeat left top;
}

#furniture-care .view .mask {
    background: transparent url('shop-mask.png') repeat left top;
}

#furniture-care .view .mask .text {
    background-color: #0f151e;
}

#furniture-care .view .icon {
    background: transparent url('shop-icon.png') no-repeat left top;
}

.footer {
    background: transparent url('footer-bg.png') no-repeat center top;
    margin: 28px 0px 32px 0px;
    height: 60px;
}

.footer .left {
    padding: 7px 32px;
    box-sizing: border-box;
    text-align: right;
    float: left;
    width: 50%;
    height: 60px;
}

.footer .left .fb {
    background: transparent url('fb.png') no-repeat left top;
    border: 4px solid #16394f;
    display: inline-block;
    width: 38px;
    height: 34px;
}

.footer .left .fb:hover {
    background-color: #16394f;
}

.footer .right {
    padding: 7px 32px;
    box-sizing: border-box;
    text-align: left;
    float: left;
    width: 50%;
    height: 60px;
}

.footer .right .email {
    background: transparent url('email.png') no-repeat left 6px;
    margin-top: 13px;
    padding-left: 34px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    line-height: 23px;
    height: 23px;
    color: #ffffff;
}

.footer .right .email:hover {
    text-decoration: underline;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}