{% extends '::base.html.twig' %}

{% block title %}Galeria - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var cords;
        var map;

        function initialize() {
            cords = new google.maps.LatLng({{ cms_config.get('kontakt_latitude', '') }}, {{ cms_config.get('kontakt_longitude', '') }});
            var mapOptions = {
                zoom: 11,
                center: cords,
                panControl: false,
                zoomControl: false,
                scaleControl: false,
                mapTypeControl: false,
                streetViewControl: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(
                    document.getElementById('map'),
                    mapOptions
            );
            var marker = new google.maps.Marker({
                position: cords,
                map: map,
                title: '{{ cms_config.get('kontakt_nazwa_top', '') }} {{ cms_config.get('kontakt_nazwa_bottom', '') }}'
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block underside %}
    <div id="underside">
        <div id="ladies" class="lady_1"></div>
    </div>
    <div id="underside_cloud" class="gallery"></div>
{% endblock %}

{% block body %}
    <div id="base">
        <h1 class="header">Galeria</h1>

        <div id="first_content">
            <div class="gallery">
                <div class="column">
                    {% for item in first_column %}
                        <div class="item">
                            <a class="photo" href="{{ path('lscms_gallery_show', { 'slug': item.slug }) }}">
                                {% if item.photos.0.getPhotoWebPath %}
                                    <img src="{{ item.photos.0.getThumbWebPath('list') }}?{{ random(10000) }}"/>
                                    <div class="mask"></div>
                                {% endif %}
                            </a>
                            <a href="{{ path('lscms_gallery_show', { 'slug': item.slug }) }}" class="header">{{ item.title }}</a>

                            <div class="desc">{{ item.contentshort }}</div>
                            <a href="{{ path('lscms_gallery_show', { 'slug': item.slug }) }}" class="more">Zobacz więcej</a>
                        </div>
                    {% endfor %}
                </div>
                <div class="column">
                    {% for item in second_column %}
                        <div class="item">
                            <a class="photo" href="{{ path('lscms_gallery_show', { 'slug': item.slug }) }}">
                                {% if item.photos.0.getPhotoWebPath %}
                                    <img src="{{ item.photos.0.getThumbWebPath('list') }}?{{ random(10000) }}"/>
                                    <div class="mask"></div>
                                {% endif %}
                            </a>
                            <a href="{{ path('lscms_gallery_show', { 'slug': item.slug }) }}" class="header">{{ item.title }}</a>

                            <div class="desc">{{ item.contentshort }}</div>
                            <a href="{{ path('lscms_gallery_show', { 'slug': item.slug }) }}" class="more">Zobacz więcej</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="clear"></div>
        {% include "LsCmsBundle::dietetic-banner.html.twig" %}
        <div id="second_content">
            {% include "LsCmsBundle::second-content.html.twig" with { news: news } %}
        </div>
        {% include "LsCmsBundle::overside.html.twig" with { class: 'gallery' } %}
    </div>
{% endblock %}
