{% extends '::base.html.twig' %}

{% block title %}Cennik - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var cords;
        var map;

        function initialize() {
            cords = new google.maps.LatLng({{ cms_config.get('kontakt_latitude', '') }}, {{ cms_config.get('kontakt_longitude', '') }});
            var mapOptions = {
                zoom: 11,
                center: cords,
                panControl: false,
                zoomControl: false,
                scaleControl: false,
                mapTypeControl: false,
                streetViewControl: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(
                    document.getElementById('map'),
                    mapOptions
                    );
            var marker = new google.maps.Marker({
                position: cords,
                map: map,
                title: '{{ cms_config.get('kontakt_nazwa_top', '') }} {{ cms_config.get('kontakt_nazwa_bottom', '') }}'
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block underside %}
    <div id="underside">
        <div id="ladies" class="lady_1"></div>
    </div>
    <div id="underside_cloud" class="pricing"></div>
{% endblock %}

{% block body %}
    <div id="base">
        <h1 class="header pricing">Cennik</h1>

        <div id="first_content">
            <div class="pricing">
                <div class="left header">Nazwa usługi</div>
                <div class="right header">Cena</div>
                <div class="clear"></div>
                {% set index = 1 %}
                    {% for item in cennik %}
                        <div class="left{% if loop.last %} last{% endif %}">
                            <b>{% if item.karnet %}Karnet - {% endif %}{{ item.name }}</b>
                            {% if item.description %}
                                <span> - {{ item.description }}</span>
                            {% endif %}
                        </div>
                        <div class="right{% if loop.last %} last{% endif %}">
                            <span{% if item.promoprice %} class="line"{% endif %}>{{ item.price }} zł</span>
                            {% if item.promoprice %}
                                <span class="red">{{ item.promoprice }} zł{% if item.promodescription %}
                                    <sup style="font-size: 10px;">{{ index }}</sup>{% set index = index + 1 %}{% endif %}</span>
                                {% endif %}
                        </div>
                        <div class="clear"></div>
                    {% endfor %}
                    {% set index = 1 %}
                        <div class="comment">
                            {% for item in cennik %}
                                {% if item.promodescription %}
                                    <div>
                                        <sup style="font-size: 8px;">{{ index }}</sup> {{ item.promodescription }}
                                    </div>
                                    {% set index = index + 1 %}
                                        {% endif %}
                                            {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    {% include "LsCmsBundle::dietetic-banner.html.twig" %}
                                    <div id="second_content">
                                        {% include "LsCmsBundle::second-content.html.twig" with { news: news } %}
                                    </div>
                                    {% include "LsCmsBundle::overside.html.twig" with { class: 'pricing' } %}
                                </div>
                                {% endblock %}
