{% extends '::base.html.twig' %}

{% block title %}Partnerzy - {{ parent() }}{% endblock %}


{% block body %}
    <div id="contentWrapper">
        <div class="pageHeader">
            <div class="title">
                <h1>Partnerzy</h1>
                <figure class="triangle1"></figure>
                <figure class="triangle2"></figure>
                <figure class="triangle3"></figure>
                <figure class="triangle4"></figure>
                <figure class="decor"></figure>
            </div>
            <div class="image partners"></div>
        </div>
        <figure class="line"></figure>
        <section id="breadcrumbs">
            <ul>
                <li class="home"><a href="{{ path('lscms_homepage') }}" class="home">&nbsp;</a></li>
                <li><a href="{{ path('lscms_partners') }}">Partnerzy</a></li>
            </ul>
        </section>
        {% include "LsCmsBundle::leftSidebar.html.twig" %}
        <div id="partners" class="wideBox">
            <ul>
                {% for entity in entities %}
                <li>
                    <a target="_new" href="{{ entity.url }}">
                        <img src="{{ entity.getThumbWebPath('list') }}"  alt="{{ entity.name }}" width="259px"/>
                    </a>
                    <p>{{ entity.description }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
