{% extends '::base.html.twig' %}
{% block body %}

    <div id="contentWrapper">

        <section id="sliderTopWrapper">
            <div class="leftSide">
                <section class="topSide">
                    <figure class="triangle1"></figure>
                    <figure class="triangle2"></figure>
                    <figure class="triangle3"></figure>
                    <span class="label">Nowy projekt</span>
                    <figure class="decor"></figure>
                </section>
                <section class="bottomSide">
                    <figure class="triangle1"></figure>
                    <figure class="triangle2"></figure>
                    <figure class="triangle3"></figure>
                    <span class="label"></span>
                </section>
                <div class="naviButtons">
                    <span class="button prev"></span>
                    <span class="button next"></span>
                </div>
            </div>
            <div class="wideBox">
                <ul>
                    {% for project in projects %}
                    <li class="slide position-{{ loop.index }}">
                        <section class="img">
                            <img data-href="{{ path('lscms_projekty_detail',{slug:project.slug}) }}" class="clickable" src="{{ project.getThumbWebPath('detail') }}" alt=""/>
                        </section>
                        <section class="name"><a href="{{ path('lscms_projekty_detail',{slug:project.slug}) }}">{{ project.title }}</a></section>
                        <section class="description">{{ project.content|raw|striptags|slice(0,190) }} {% if project.content|raw|striptags|length > 190 %} ... {% endif %} </section>
                        <section class="date"><div class="month">{{ project.publishedAt|date("d.m") }}</div><div class="year">{{ project.publishedAt|date("Y") }}</div></section>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="linkOther">
                <a href="{{ path('lscms_projekty') }}">Pozostałe projekty</a>
                <figure class="triangle triangle1"></figure>
                <figure class="triangle triangle2"></figure>
                <figure class="triangle triangle3"></figure>
                <figure class="triangleTop"></figure>
                <figure class="triangleBottom"></figure>
            </div>
        </section>
        <div class="line shorter"></div>
        <section id="services">
            <div class="leftSide">
                <section class="topSide">
                    <figure class="triangle1"></figure>
                    <figure class="triangle2"></figure>
                    <figure class="triangle3"></figure>
                    <figure class="triangle4"></figure>
                    <span class="label">Oferujemy<br/>usługi:</span>
                </section>
            </div>
            <div class="wideBox">
                <ul>
                    {% for service in services %}
                    <li><div class="wrap"><div class="inner"><a href="{{ path('lscms_services_category',{slug:service.slug}) }}">{{ service.title }}</a></div></div></li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <div class="line clear"></div>
        <section id="threeBoxes">
            <div class="wideBox">
                <ul>
                    <li>
                        <div class="boxContent">
                            <div class="img"><a href="{{ path('lscms_promo') }}"><img src="{{ promo.getThumbWebPath('list') }}" alt=""/></a></div>
                        </div>
                        <div class="linkOther">
                            <a href="{{ path('lscms_promo') }}">Promocje</a>
                            <figure class="triangle triangle1"></figure>
                            <figure class="triangle triangle2"></figure>
                            <figure class="triangle triangle3"></figure>
                            <figure class="triangle triangle4"></figure>
                            <figure class="triangle triangle5"></figure>
                            <figure class="triangleTop"></figure>
                        </div>
                    </li>
                    {% if news|length > 0 %}
                    <li>
                        <div class="boxContent">
                            <div class="img"><a href="{{ path('lscms_news_show',{slug:news.slug}) }}"><img src="{{ news.getThumbWebPath('detail') }}" alt=""/></a></div>
                            <section class="bottomSide">
                                {{ news.title }}
                                <time>{{ news.publishedAt|date('d.m.Y') }}</time>
                            </section>
                        </div>
                        <div class="linkOther">
                            <a href="{{ path('lscms_news') }}">Aktualności</a>
                            <figure class="triangle triangle1"></figure>
                            <figure class="triangle triangle2"></figure>
                            <figure class="triangle triangle3"></figure>
                            <figure class="triangle triangle4"></figure>
                            <figure class="triangle triangle5"></figure>
                            <figure class="triangleTop"></figure>
                        </div>
                    </li>
                    {% endif %}
                    <li>
                        <div class="boxContent">
                            <div class="img"><a href="{{ cms_config.get('shopSite','') }}"><img src="/upload/settings/{{ cms_config.get('file_sklep','') }}" alt=""/></a></div>
                        </div>
                        <div class="linkOther">
                            <a href="{{ cms_config.get('shopSite','') }}">Kontakt</a>
                            <figure class="triangle triangle1"></figure>
                            <figure class="triangle triangle2"></figure>
                            <figure class="triangle triangle3"></figure>
                            <figure class="triangle triangle4"></figure>
                            <figure class="triangle triangle5"></figure>
                            <figure class="triangleTop"></figure>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>

{% endblock %}