<div class="popup_title">Karnet</div>
<div class="popup_text"><span>Krok 3.</span> Uzupełnij swoje dane.</div>
<div class="karnet_form_container">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'onsubmit': 'return submitKarnetStep3();', 'id': 'karnet-step-3-form'}}) }}
    <div class="popup_form_field">
        {{ form_widget(form.name, {'attr': {'class': 'karnet-step3-name', 'placeholder': form.name.vars.label }}) }}
    </div>
    <div class="popup_form_field">
        {{ form_widget(form.email, {'attr': {'class': 'karnet-step3-email', 'placeholder': form.email.vars.label }}) }}
    </div>
    <div class="popup_form_field">
        {{ form_widget(form.phone, {'attr': {'class': 'karnet-step3-phone', 'placeholder': form.phone.vars.label }}) }}
    </div>
    <div class="popup_form_field">
        {{ form_widget(form.document, {'attr': {'class': 'karnet-step3-document', 'placeholder': form.document.vars.label }}) }}
    </div>
    <div class="popup_form_label">{{ form_label(form.ankieta) }}</div>
    <div class="popup_form_field" style="padding-bottom: 19px;">
        <div class="pseudo-select karnet-step3-ankieta" style="width: 273px; margin: 0px auto;">
            {{ form_widget(form.ankieta, {'attr': {'class': 'pseudo-select-input'}}) }}
            <div class="pseudo-select-selected" style="width: 204px;"></div>
            <div class="pseudo-select-arrow"></div>
            <div class="pseudo-select-list" style="width: 273px;">
                <div class="pseudo-select-list-item" name="0">Wybierz odpowiedź...</div>
                {% for option in options %}
                    <div class="pseudo-select-list-item{% if loop.last %} pseudo-select-list-item-last{% endif %}" name="{{ loop.index }}">{{ option }}</div>
                {% endfor %}
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="popup_form_separator" style="margin: 0px auto;"></div>
    <div class="popup_form_field" style="padding-top: 19px;">
        {{ form_widget(form.submit) }}
    </div>
    {{ form_end(form) }}
</div>
