<!DOCTYPE html>
<html>
    <head>
        {% block meta %}
            <title>{% block title %}{{ cms_config.get('seo_title', '') }}{% endblock %}</title>
            <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}"/>
            <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}"/>

            <meta property="og:site_name" content="onyxx.pl">
            <meta property="og:type" content="website" />
            <meta property="og:url" content="http://www.onyxx.pl" />
            <meta property="og:title" content="{{ cms_config.get('seo_title', '') }}"/>
            <meta property="og:description" content="{{ cms_config.get('seo_description', '') }}"/>
            <meta property="og:image" content="http://www.onyxx.pl/upload/settings/{{ cms_config.get('file_fbImage', '') }}?rand=54534"/>

        {% endblock %}
        {% block stylesheets %}
            <link type="text/css" href="{{ asset('bundles/frontend/js/fancybox/jquery.fancybox-1.3.4.css') }}" rel="stylesheet" />
            <link type="text/css" href="{{ asset('bundles/frontend/css/style.css') }}" rel="stylesheet" />
            <link type="text/css" href="{{ asset('bundles/frontend/js/theme/jquery-ui-1.10.4.custom.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('bundles/frontend/img/favicon.png') }}"/>
        <link rel="shortcut icon" href="{{ asset('bundles/frontend/img/favicon.png') }}" type="image/x-icon"/>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/frontend/js/jquery-1.8.3.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/frontend/js/fancybox/jquery.fancybox-1.3.4.pack.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/frontend/js/jquery-ui-1.10.4.custom.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/frontend/js/jquery.ui.selectmenu.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/frontend/js/js.js') }}"></script>

            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-45005375-1', 'auto');
                ga('send', 'pageview');

            </script>
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110467537-1"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'UA-110467537-1');
            </script>

        {% endblock %}
    </head>
    {% set menuTop = knp_menu_get('LsCmsBundle:Builder:managedMenu', [], {'location': 'menu_top'}) %}
        {% set menuBottom = knp_menu_get('LsCmsBundle:Builder:managedMenu', [], {'location': 'menu_bottom'}) %}
            <body>

                {% block facebookInit %}
                    <div id="fb-root"></div>
                    <script>(function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&appId={{ cms_config.get('facebookAppId', '') }}&version=v2.0";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                {% endblock %}
                <div id="container">

                    {% block top %}
                        <aside id="fb-side">
                            <figure class="triangle triangle1"></figure>
                            <figure class="triangle triangle2"></figure>
                            <figure class="triangle triangle3"></figure>
                            <a href="{{ cms_config.get('facebookFanpage','') }}" target="_blank">Facebook</a>
                        </aside>
                        <aside id="references-side">
                            <section class="label">
                                <figure class="triangle triangle1"></figure>
                                <figure class="triangle triangle2"></figure>
                                <figure class="triangle triangle3"></figure>
                                Referencje
                            </section>
                            <section class="rightSide">
                                <a href="{{ path('lscms_references') }}">
                                    Zobacz referencje naszych klientów
                                </a>
                            </section>
                        </aside>
                        <section id="top">
                            <div class="logo">
                                <a href="{{ path('lscms_homepage') }}" title="Onyxx"><img src="{{ asset('bundles/frontend/img/logo.png') }}" alt="Mediator"/></a>
                            </div>
                            <div class="slogan">
                                <img src="{{ asset('bundles/frontend/img/slogan.png') }}" alt="To clean and protect"/>
                            </div>

                            <nav id="menuTop">
                                {{ knp_menu_render(menuTop,{'currentClass':'active'}) }}
                                {#<ul>
                                    <li><a href="/onyxx/" class="home">&nbsp;</a></li>
                                    <li><a href="news-listing.php">Newsy</a></li>
                                    <li><a href="podstrona.php">O nas</a></li>
                                    <li><a href="projekty-listing.php" class="active">Projekty</a></li>
                                    <li><a href="uslugi-listing.php">Usługi</a></li>
                                    <li><a href="szkolenia-listing.php">Szkolenia</a></li>
                                    <li><a href="promocje.php">Promocje</a></li>
                                    <li><a href="partnerzy.php">Partnerzy</a></li>
                                    <li><a href="kontakt.php">Kontakt</a></li>
                                </ul>#}
                            </nav>
                            <figure class="line wider"></figure>
                            <div class="socialIconsSmall">
                                <a class="fb" href="{{ cms_config.get('facebookFanpage','') }}" target="_blank">&nbsp;</a>
                                <a class="gp" href="{{ cms_config.get('googlePage','') }}" target="_blank">&nbsp;</a>
                            </div>
                        </section>
                    {% endblock %}

                    {% block body %}
                    {% endblock %}

                    {% block footer %}
                        {#<div id="quote" class="clear">
                            <span>"{{ cms_config.get('cytat', '') }}"</span>
                            <span class="author">{{ cms_config.get('cytat_autor', '') }}</span>
                        </div>
                        <div id="footer" class="clear">
                            <div class="copyright">Wszelkie prawa zastrzeżone - www.piotrjanczarek.pl - 2014<br/>Projekt i realizacja:
                                <a href="http://www.lemonadestudio.pl" target="_blank"><img src="{{ asset('bundles/frontend/img/lemonade-logo.png') }}" alt="Lemonade Studio"/>Lemonade Studio</a></div>
                            <div class="menu-bottom">
                                <ul>
                                    {{ knp_menu_render(menuBottom) }}

                                </ul>
                                <div class="social-icons">
                                    <a href="{{ cms_config.get('facebookFanpage','') }}" class="fb"></a>
                                    <a href="{{ cms_config.get('youtubeSite','') }}" class="yt"></a>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>#}
                        <footer id="footer" class="clear">
                            <div class="leftSide"></div>
                            <div class="fb-link">
                                <a href="{{ cms_config.get('facebookFanpage','') }}" target="_blank">{{ cms_config.get('facebookFanpage','')|slice(11) }}</a>
                            </div>
                            <div class="copyright">© Copyrights 2013, Wszelkie prawa zastrzeżone przez <img src="{{ asset('bundles/frontend/img/logo-footer.png') }}" alt="ONYX"/><figure class="triangle1"></figure></div>
                            <div class="realizacja">Projekt i realizacja: <strong><a href="http://www.lemonadestudio.pl" title="www.lemonadestudio.pl" target="_blank"><img src="{{ asset('bundles/frontend/img/lemonade-logo.png') }}" alt="Lemonade Studio"/></a></strong></div>
                            <div class="clear"></div>
                        </footer>
                    {% endblock %}

                </div>

            </body>
        </html>
