<div id="overside" class="{{ class }}">
    <a href="#" onclick="return false;" style="cursor: default;">Zarezerwuj usługę</a>
    <a href="#" onclick="return showKarnet('{{ path('lscms_karnet_step_1') }}');">Kup karnet i zaoszczędź!</a>
</div>
