<section class="sidebar navbar navbar-default">
    <header>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="title">{{ label }}</span>
    </header>
    <div class="wrap" id="bs-sidebar-collapse">

        <ul>
            {% for category in categories %}
            <li style="{% if category.getMenuBgImg %} background-image: url('{{ category.getMenuBgPath }}'); {% endif %} background-color: #{{ category.getColor }}; background-size: auto 100%;" >
                <a href="{{ path('lscms_category_activity',{slug:category.getSlug()}) }}">{{ category.getName }}</a>
            </li>
            {% endfor %}
        </ul>
        <div class="contact">
            <div class="img">
                <img src="{{ asset('bundles/frontend/img/contact.jpg') }}" alt=""/>
            </div>
            <div class="text-wrapper">
                <a href="{{ path('lscms_kontakt') }}">Kontakt</a>
            </div>
        </div>
    </div>
</section>