@import 'font/font.css';

body, div, a, p, span, img, h1, h2 {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    border: 0;
}

input[type="text"], input[type="password"], textarea, select {
    outline: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    margin: 0;
    padding: 0;
    line-height: 18px;
}

textarea {
    width: 245px;
    height: 134px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    background-color: #fff;
    -webkit-box-shadow: inset -1px 2px 6px rgba(0, 0, 0, .25);
    -moz-box-shadow: inset -1px 2px 6px rgba(0, 0, 0, .25);
    box-shadow: inset -1px 2px 6px rgba(0, 0, 0, .25);
    border: solid 1px #c3ffc7;
    resize: none;
    padding: 10px 14px;
    margin: 0px;
    display: block;
    font-family: "Arial", sans-serif;
    color: #838383;
    font-size: 12px;
    line-height: 18px;
}

input[type=password],
input[type=email],
input[type=text] {
    -webkit-box-shadow: inset -1px 2px 6px rgba(0, 0, 0, .25);
    -moz-box-shadow: inset -1px 2px 6px rgba(0, 0, 0, .25);
    box-shadow: inset -1px 2px 6px rgba(0, 0, 0, .25);
    border: solid 1px #c3ffc7;
    width: 245px;
    height: 24px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    padding: 10px 14px;
    line-height: 29px;
    margin: 0px;
    display: block;
    font-family: "Arial", sans-serif;
    color: #838383;
    font-size: 12px;
}

button[type=submit],
input[type=submit] {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    border: solid 1px rgba(223, 223, 223, .27);
    background-image: -webkit-linear-gradient(bottom, #eee, #fff);
    background-image: -moz-linear-gradient(bottom, #eee, #fff);
    background-image: -o-linear-gradient(bottom, #eee, #fff);
    background-image: linear-gradient(to top, #eee, #fff);
    height: 36px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 0px auto;
    padding: 0px 10px;
    display: block;
    font-weight: bold;
    color: #f01740;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    cursor: pointer;
}

.clear {
    clear: both;
}

body {
    min-width: 980px;
    position: relative;
}

#underside {
    width: 100%;
    min-width: 980px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#underside #ladies {
    margin: 0 auto;
    overflow: hidden;
    height: 1500px;
}

#underside #ladies.lady_1 {
    background: url('../images/lady_1.png') no-repeat top center;
}

#underside #ladies.lady_2 {
    background: url('../images/lady_2.png') no-repeat top center;
}

#underside #ladies.lady_3 {
    background: url('../images/lady_3.png') no-repeat top center;
}

#underside #ladies.lady_4 {
    background: url('../images/lady_4.png') no-repeat top center;
}

#underside #ladies.lady_5 {
    background: url('../images/lady_5.png') no-repeat top center;
}

#underside_cloud {
    width: 100%;
    min-width: 980px;
    height: 776px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../images/label_cloud.png') no-repeat top center;
    z-index: -1;
}

#underside_cloud.news {
    top: 434px;
}

#underside_cloud.news_details {
    top: 368px;
}

#underside_cloud.pricing {
    top: 276px;
}

#underside_cloud.gallery {
    top: 477px;
}

#underside_cloud.gallery_details {
    top: 329px;
}

#underside_cloud.team {
    top: 601px;
}

#underside_cloud.onas {
    top: 640px;
}

#underside_cloud.dietetyk {
    top: 397px;
}

#map-container {
    width: 100%;
    position: relative;
    top: -15px;
    left: 0;
    height: 700px;
}

#map-container #map {
    width: 100%;
    height: 647px;
}

#top {
    width: 980px;
    margin: 0 auto;
    background: url('../images/leafs.png') no-repeat 414px 0px;
    position: relative;
    z-index: 1;
}

#top #logo {
    float: left;
    overflow: hidden;
    margin: 43px 0 0 0;
}

#top #logo * {
    display: block;
}

#top #menu_top {
    float: left;
    overflow: hidden;
    height: 39px;
    background: url('../images/menu_top_bg.png') no-repeat top right;
    margin: 51px 0 0 0;
    padding: 0 17px 0 0;
}

#top #menu_top li {
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
}

#top #menu_top li a {
    height: 39px;
    background: url('../images/menu_top_link_bg.png') repeat-x left top;
    padding: 12px 17px 0;
    overflow: hidden;
    display: block;
    font-weight: bold;
    font-size: 12px;
    color: #676767;
    line-height: 18px;
}

#top #menu_top li.home a {
    width: 41px;
    padding: 0;
    background: url('../images/menu_top_link_first_bg.png') no-repeat left top;
    text-indent: 9999px;
    white-space: nowrap;
}

#top #menu_top li.last a {
    padding: 12px 8px 0 17px;
}

#top #menu_top li a:hover,
#top #menu_top li.current a {
    color: #3f9844;
    text-decoration: none;
}

#top #menu_top li.home a:hover,
#top #menu_top li.home.current a {
    background-position: left bottom;
}

#base {
    position: relative;
    padding-top: 30px;
    margin: 0px auto;
    width: 980px;
}

#base h1.header_main {
    padding: 14px 0 15px 0;
    font-family: 'raleway_light', sans-serif;
    color: #383025;
    font-size: 48px;
    line-height: 60px;
    overflow: hidden;
}

#base h1.header,
#base h2.header {
    padding: 37px 0 50px 0;
    font-family: 'raleway_extralight', sans-serif;
    color: #383025;
    font-size: 60px;
    line-height: 60px;
    overflow: hidden;
}

#base h1.header.pricing {
    padding: 37px 0 30px 0;
}

#base h1.header.gallery_details {
    padding: 37px 0 10px 0;
}

#base h1.header.team {
    padding: 37px 0 34px 0;
}

#base h1.header.onas {
    padding: 37px 0 32px 0;
}

#base h1.header.dietetyk {

}

#base h1.header.registry {
    padding: 37px 0 21px 0;
}

#base h1.header b {
    font-weight: normal !important;
    font-size: 60px;
    color: #383025;
    font-family: 'raleway_regular', sans-serif;
}

#base #main_box {
    font-size: 14px;
    color: #56524c;
    font-weight: bold;
    line-height: 24px;
}

#base #main_box > a {
    float: left;
    overflow: hidden;
    margin: 26px 11px 28px 0;
}

#base #main_box .separator {
    float: left;
    overflow: hidden;
    width: 345px;
    height: 3px;
    background: #f1efef;
}

#base #main_box span.g {
    font-size: 14px;
    color: #3f9844;
}

#base #main_box span.gu {
    font-size: 14px;
    color: #3f9844;
    text-decoration: underline;
}

#base #main_slider {
    margin: 34px 0 0 0;
    height: 228px;
    width: 600px;
    overflow: hidden;
    position: relative;
}

#base #main_slider #controls {
    z-index: 2 !important;
    height: 22px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

#base #main_slider #controls span {
    height: 22px;
    width: 22px;
    overflow: hidden;
    float: left;
    background: url('../images/slider_left.png') no-repeat 0 0;
    margin: 0 0 0 61px;
    cursor: pointer;
}

#base #main_slider #controls span + span {
    background: url('../images/slider_right.png') no-repeat 0 0;
    margin: 0 0 0 3px;
}

#base #main_slider .item {
    z-index: 1 !important;
    height: 218px;
    width: 600px;
    overflow: hidden;
    position: relative;
}

#base #main_slider .item .left {
    height: 218px;
    width: 146px;
    float: left;
    overflow: hidden;
    margin: 0 45px 0 12px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}

#base #main_slider .item .left * {
    display: block;
}

#base #main_slider .item .right {
    height: 218px;
    width: 396px;
    overflow: hidden;
}

#base #main_slider .item .right .header {
    margin: 19px 0 -2px 1px;
    overflow: hidden;
    font-size: 24px;
    color: #383025;
    line-height: 28px;
    font-family: 'raleway_light';
}

#base #main_slider .item .right .header span {
    overflow: hidden;
    display: block;
    font-size: 36px;
    color: #3f9844;
    line-height: 40px;
    font-family: 'raleway_medium';
    position: relative;
    top: -8px;
}

#base #main_slider .item .right .name {
    margin: 0 0 0 1px;
    overflow: hidden;
    display: block;
    font-size: 18px;
    line-height: 30px;
    color: #383025;
    font-weight: bold;
}

#base #main_slider .item .right .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 18px;
    color: #383025;
    margin: 9px 0 0 0;
}

#base #main_slider .item .right .desc p {
    font-size: 12px;
    line-height: 18px;
    color: #383025;
}

#base #main_slider .item .right .control {
    overflow: hidden;
    margin: 5px 0 0 0;
}

#base #main_slider .item .right .control a {
    overflow: hidden;
    color: #5d5551;
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
    float: left;
}

#base #main_slider .item .right .control a + a {
    color: #3f9844;
    margin: 0 0 0 21px;
    padding: 0 25px 0 0;
    background: url('../images/arrow.png') no-repeat right center;
}

#base #first_content {
    width: 658px;
}

#base #first_content.rezerwacja {
    height: 300px;
}

#base #first_content.page_details {
    min-height: 750px;
}

#base #first_content.news_list {
    min-height: 550px;
}

#base #first_content .news_item {
    margin: 0 0 32px 0;
    height: 143px;
    width: 654px;
    overflow: hidden;
}

#base #first_content .news_item .left {
    float: left;
    width: 143px;
    height: 143px;
    overflow: hidden;
    -webkit-border-radius: 18px;
    border-radius: 18px;
}

#base #first_content .news_item .left * {
    display: block;
}

#base #first_content .news_item .right {
    float: left;
    overflow: hidden;
    width: 350px;
    margin: 0 0 0 23px;
}

#base #first_content .news_item .right .date {
    overflow: hidden;
    line-height: 18px;
    font-size: 11px;
    color: #969696;
    height: 18px;
    margin: 11px 0 5px;
}

#base #first_content .news_item .right .header {
    display: block;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    color: #ef163f;
    line-height: 18px;
    height: 18px;
}

#base #first_content .news_item .right .desc {
    overflow: hidden;
    max-height: 54px;
    line-height: 18px;
    font-size: 12px;
    color: #838383;
    margin: 5px 0;
}

#base #first_content .news_item .right .more {
    width: 22px;
    height: 22px;
    overflow: hidden;
    display: block;
    background: url('../images/link_more.png') no-repeat top left;
}

#base #first_content .news_details {
    overflow: hidden;
    min-height: 550px;
}

#base #first_content .news_details .left {
    overflow: hidden;
    width: 201px;
    height: 201px;
    float: left;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    margin: 0 28px 0 0;
}

#base #first_content .news_details .left * {
    display: block;
}

#base #first_content .news_details .right {
    width: 350px;
    float: left;
}

#base #first_content .news_details .right .date {
    overflow: hidden;
    line-height: 18px;
    font-size: 11px;
    color: #969696;
    height: 18px;
    margin: 10px 0 6px;
}

#base #first_content .news_details .right .header {
    font-size: 24px;
    font-weight: bold;
    color: #ef163f;
    display: block;
    overflow: hidden;
    line-height: 24px;
}

#base #first_content .news_details .right .desc {
    line-height: 22px;
    font-size: 12px;
    color: #838383;
    margin: 15px 0 24px;
}

#base #first_content .news_details .right .back {
    overflow: hidden;
    width: 119px;
    height: 39px;
    background: url('../images/back.png') no-repeat 0 0;
    font-size: 12px;
    font-weight: bold;
    color: #676767;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    text-align: center;
    line-height: 38px;
    display: block;
    margin: 0 0 25px;
}

#base #first_content .gallery {
    overflow: hidden;
    margin: 0 0 -28px 0;
    min-height: 600px;
}

#base #first_content .gallery .column {
    overflow: hidden;
    float: left;
    margin: 0 48px 0 0;
    width: 269px;
    padding: 0 1px;
}

#base #first_content .gallery .column .item {
    margin: 0 0 41px 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    border: solid 1px #dfdfdf;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    text-align: center;
}

#base #first_content .gallery .column .item .photo {
    overflow: hidden;
    width: 267px;
    height: 250px;
    display: block;
    -webkit-border-radius: 18px 18px 0 0;
    border-radius: 18px 18px 0 0;
    position: relative;
}

#base #first_content .gallery .column .item .photo img {
    display: block;
}

#base #first_content .gallery .column .item .photo .mask {
    background: transparent url('../images/gallery_list_mask.png') repeat-x left top;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 267px;
    height: 250px;
}

#base #first_content .gallery .column .item .header {
    display: block;
    font-size: 24px;
    color: #3f9844;
    font-weight: bold;
    margin: 24px 0 16px;
}

#base #first_content .gallery .column .item .desc {
    font-size: 12px;
    font-weight: bold;
    color: #838383;
    overflow: hidden;
    line-height: 18px;
    margin: 0 0 -6px;
    padding: 0 20px;
}

#base #first_content .gallery .column .item .more {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
    line-height: 36px;
    display: block;
    background: url('../images/button.png') no-repeat top left;
    position: relative;
    top: 15px;
    margin: 0 auto;
    width: 204px;
    height: 39px;
    padding: 16px 0 0;
}

#base #first_content .gallery .column .item .more:hover {
    text-decoration: none;
}

#base #first_content .gallery_details {
    text-decoration: none;
    position: relative;
    min-height: 460px;
    width: 672px;
}

#base #first_content .gallery_details .back {
    overflow: hidden;
    width: 119px;
    height: 39px;
    background: url('../images/back.png') no-repeat 0 0;
    font-size: 12px;
    font-weight: bold;
    color: #676767;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    text-align: center;
    line-height: 38px;
    display: block;
    position: absolute;
    top: 10px;
    right: 14px;
}

#base #first_content .gallery_details .back:hover {
    text-decoration: none;
}

#base #first_content .gallery_details .title {
    overflow: hidden;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
    color: #3f9844;
    margin: 0 14px 0 0;
}

#base #first_content .gallery_details .desc {
    overflow: hidden;
    line-height: 24px;
    font-size: 12px;
    color: #676767;
    margin: -7px 0 15px 0;
    width: 500px;
}

#base #first_content .pricing {
    min-height: 400px;
    overflow: hidden;
}

#base #first_content .pricing .left {
    overflow: hidden;
    width: 310px;
    padding: 27px 50px 3px 0;
    border-right: 3px solid #f1efef;
    float: left;
    line-height: 18px;
    font-size: 14px;
    color: #212120;
}

#base #first_content .pricing .left span {
    font-size: 14px;
}

#base #first_content .pricing .left.last {
    padding: 27px 50px 15px 0;
}

#base #first_content .pricing .left.header {
    overflow: hidden;
    width: 310px;
    border-bottom: 3px solid #f1efef;
    height: 39px;
    line-height: 36px;
    font-size: 18px;
    color: #3f9844;
    font-weight: normal;
    padding: 0 50px 0 0;
}

#base #first_content .pricing .right {
    overflow: hidden;
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #3f9844;
    line-height: 18px;
    text-indent: 25px;
    padding: 27px 0 3px 0;
}

#base #first_content .pricing .right span {
    font-size: 18px;
}

#base #first_content .pricing .right.last {
    padding: 27px 0 15px 0;
}

#base #first_content .pricing .right .line {
    text-decoration: line-through;
}

#base #first_content .pricing .right .red {
    color: #ef163f;
}

#base #first_content .pricing .right.header {
    overflow: hidden;
    width: 108px;
    border-bottom: 3px solid #f1efef;
    height: 39px;
    line-height: 36px;
    font-size: 18px;
    color: #3f9844;
    font-weight: normal;
    padding: 0;
}

#base #first_content .pricing .comment {
    color: #ef163f;
    font-size: 11px;
    font-style: italic;
    overflow: hidden;
    line-height: 24px;
    margin: 24px 0 6px 0;
}

#base #first_content .team {
    min-height: 750px;
    overflow: hidden;
    margin: 0 0 -28px 0;
}

#base #first_content .team .content {
    overflow: hidden;
    margin: 0 0 30px;
}

#base #first_content .team .column {
    overflow: hidden;
    float: left;
    margin: 0 48px 0 0;
    width: 269px;
    padding: 0 1px;
}

#base #first_content .team .column .item {
    margin: 0 0 29px 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    border: solid 1px #dfdfdf;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    text-align: center;
}

#base #first_content .team .column .item .photo {
    overflow: hidden;
    width: 267px;
    height: 245px;
    display: block;
    -webkit-border-radius: 16px 16px 0 0;
    border-radius: 16px 16px 0 0;
    position: relative;
}

#base #first_content .team .column .item .photo img {
    display: block;
}

#base #first_content .team .column .item .photo .mask {
    background: transparent url('../images/gallery_list_mask.png') repeat-x left bottom;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 267px;
    height: 245px;
}

#base #first_content .team .column .item .firstname {
    font-size: 24px;
    color: #838383;
    line-height: 21px;
    padding-top: 26px;
}

#base #first_content .team .column .item .lastname {
    font-size: 24px;
    color: #ef163f;
    font-weight: bold;
    line-height: 22px;
    padding-bottom: 14px;
}

#base #first_content .team .column .item .desc {
    font-size: 12px;
    color: #838383;
    overflow: hidden;
    line-height: 18px;
    margin: 0 0 27px;
    padding: 0 20px;
}

#base #first_content .team .column .item .desc p {
    line-height: 18px !important;
}

#base #first_content .dietetyk {
    overflow: hidden;
    margin: 0 0 -28px 0;
    min-height: 550px;
}

#base #first_content .dietetyk .content {
    overflow: hidden;
    color: #676767;
    font-size: 12px;
    line-height: 24px;
    margin: 0 0 30px;
}

#base #first_content .dietetyk .content b {
    overflow: hidden;
    color: #3f9844;
}

#base #first_content .dietetyk .column {
    overflow: hidden;
    float: left;
    margin: 0 34px 0 0;
    width: 269px;
    padding: 0 1px;
}

#base #first_content .dietetyk .column .item {
    margin: 0 0 42px 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    border: solid 1px #dfdfdf;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    text-align: center;
}

#base #first_content .dietetyk .column .item .photo {
    overflow: hidden;
    width: 267px;
    height: 245px;
    display: block;
    -webkit-border-radius: 16px 16px 0 0;
    border-radius: 16px 16px 0 0;
    position: relative;
}

#base #first_content .dietetyk .column .item .photo img {
    display: block;
}

#base #first_content .dietetyk .column .item .photo .mask {
    background: transparent url('../images/gallery_list_mask.png') repeat-x left bottom;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 267px;
    height: 245px;
}

#base #first_content .dietetyk .column .item .firstname {
    font-size: 24px;
    color: #838383;
    line-height: 21px;
    padding-top: 26px;
}

#base #first_content .dietetyk .column .item .lastname {
    font-size: 24px;
    color: #ef163f;
    font-weight: bold;
    line-height: 22px;
    padding-bottom: 14px;
}

#base #first_content .dietetyk .column .item .desc {
    font-size: 12px;
    color: #838383;
    overflow: hidden;
    line-height: 18px;
    margin: 0 0 -5px;
    padding: 0 20px;
}

#base #first_content .dietetyk .column .item .desc p {
    line-height: 18px !important;
}

#base #first_content .dietetyk .column .item .more {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
    line-height: 36px;
    display: block;
    background: url('../images/button2.png') no-repeat top left;
    position: relative;
    top: 15px;
    margin: 0 auto;
    width: 233px;
    height: 39px;
    padding: 16px 0 0;
}

#base #first_content .dietetyk .column .item .more:hover {
    text-decoration: none;
}

#base #first_content .photos {
    overflow: hidden;
    width: 674px;
}

#base #first_content .photos a {
    display: block;
    display: block;
    overflow: hidden;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    position: relative;
    float: left;
    margin: 14px 14px 0 0;
    cursor: pointer;
}

#base #first_content .photos a * {
    display: block;
}

#base #first_content .photos a .mask {
    display: none;
    width: 153px;
    height: 153px;
    background: url('../images/gallery_mask.png') no-repeat top left;
    position: absolute;
    top: 0;
    left: 0;
}

#base #first_content .photos a:hover .mask {
    display: block;
}

#base #porady .list {
    float: left;
    width: 834px;
}

#base #porady .list .column {
    overflow: hidden;
    float: left;
    margin: 0 34px 0 0;
    width: 244px;
    padding: 0 1px;
}

#base #porady .list .column .item {
    margin: 0 0 30px 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    border: solid 1px #dfdfdf;
    -webkit-border-radius: 32px;
    border-radius: 32px;
    text-align: center;
}

#base #porady .list .column .item .photo {
    overflow: hidden;
    width: 242px;
    height: 191px;
    display: block;
    -webkit-border-radius: 32px 32px 0 0;
    border-radius: 32px 32px 0 0;
    position: relative;
}

#base #porady .list .column .item .photo img {
    display: block;
}

#base #porady .list .column .item .photo .mask {
    background: transparent url('../images/gallery_list_mask.png') repeat-x left bottom;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 242px;
    height: 191px;
}

#base #porady .list .column .item .header {
    display: block;
    font-size: 24px;
    color: #3f9844;
    line-height: 21px;
    margin: 34px 0 20px;
}

#base #porady .list .column .item .desc {
    font-size: 12px;
    color: #838383;
    overflow: hidden;
    line-height: 18px;
    margin: 0 0 -5px;
    padding: 0 20px;
}

#base #porady .list .column .item .desc p {
    font-size: 12px;
    line-height: 18px;
}

#base #porady .list .column .item .more {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
    line-height: 36px;
    display: block;
    background: url('../images/button.png') no-repeat top left;
    position: relative;
    top: 15px;
    margin: 0 auto;
    width: 204px;
    height: 39px;
    padding: 16px 0 0;
}

#base #porady .list .column .item .more:hover {
    text-decoration: none;
}

#base #porady .categories {
    float: right;
    width: 120px;
}

#base #porady .categories .link {
    background: url('../images/button_category.png') no-repeat top left;
    width: 119px;
    height: 39px;
    overflow: hidden;
    display: block;
    margin: 0 0 8px 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #676767;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    line-height: 36px;
    cursor: pointer;
}

#base #porady .categories .link:hover,
#base #porady .categories .link.active {
    color: #3f9844;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    text-decoration: none;
}

.paginate {
    overflow: hidden;
    margin: 38px 0 14px;
    height: 22px;
    text-align: center;
}

.paginate span,
.paginate a {
    display: inline-block;
    overflow: hidden;
    margin: 0;
    height: 22px;
    width: 22px;
    background: url('../images/paginate.png') no-repeat 0 0;
    line-height: 22px;
    text-align: center;
    font-size: 11px;
    color: #676767;
}

.paginate span:hover,
.paginate span.active,
.paginate a:hover,
.paginate a.active {
    color: #75ae72;
    text-decoration: none;
    font-weight: bold;
}

.paginate a:hover,
.paginate a.active {
    cursor: pointer;
}

.paginate span.left,
.paginate a.left {
    width: 52px;
    background: url('../images/paginate-left.png') no-repeat 0 0;
}

.paginate span.right,
.paginate a.right {
    width: 52px;
    background: url('../images/paginate-right.png') no-repeat 0 0;
}

#base #dietetic_banner_container {
    position: relative;
    padding: 88px 0px 3px 0px;
    height: 186px;
    width: 980px;
}

#base #dietetic_banner {
    background: url('../images/dessert_bg.png') no-repeat top left;
    padding-left: 30px;
    position: absolute;
    top: 18px;
    left: -30px;
    height: 350px;
    width: 980px;
}

#base #dietetic_banner .header {
    overflow: hidden;
    font-family: 'raleway_light', sans-serif;
    font-size: 36px;
    line-height: 30px;
    color: #f1ffdc;
    margin: 104px 0 16px 0;
}

#base #dietetic_banner .desc {
    overflow: hidden;
    width: 300px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px rgba(95, 152, 79, .41);
}

#base #dietetic_banner .link {
    margin: 18px 0 0 1px;
    float: left;
    overflow: hidden;
}

#base #second_content {
    padding-top: 45px;
}

#base #second_content .left,
#base #second_content .right {
    width: 490px;
    float: left;
    margin: 0;
    padding: 0px;
}

#base #second_content .left .item {
    width: 201px;
    float: left;
    margin: 0 44px 0 0;
    overflow: hidden;
}

#base #second_content .left .item .photo {
    border-radius: 18px;
    height: 201px;
    overflow: hidden;
    width: 201px;
}

#base #second_content .left .item .photo * {
    display: block;
}

#base #second_content .left .item .date {
    overflow: hidden;
    color: #969696;
    font-size: 11px;
    line-height: 18px;
    display: block;
    margin: 18px 0 8px 0;
}

#base #second_content .left .item .title {
    overflow: hidden;
    color: #ef163f;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    display: block;
    margin: 0 0 13px 0;
}

#base #second_content .left .item .desc {
    overflow: hidden;
    color: #838383;
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 12px 0;
}

#base #second_content .left .item .link {
    width: 22px;
    height: 22px;
    overflow: hidden;
    display: block;
    background: url('../images/link_more.png') no-repeat top left;
}

#base #second_content .left > .link {
    color: #5d5551;
    font-size: 12px;
    line-height: 30px;
    display: block;
    font-weight: bold;
    margin: 15px 0 0 2px;
}

#base #second_content .left > .link:hover {
    text-decoration: underline;
}

#base #second_content .right .leaf_banner {
    width: 232px;
    height: 530px;
    -webkit-border-radius: 21px/21px 21px 22px 22px;
    -moz-border-radius: 21px/21px 21px 22px 22px;
    border-radius: 21px/21px 21px 22px 22px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    border: solid 1px #dfdfdf;
    text-align: center;
    overflow: hidden;
    background: url('../images/leafs2.png') no-repeat top left;
    float: left;
}

#base #second_content .right .leaf_banner .header {
    font-family: 'old_standard_tt_italic';
    color: #3d3d3d;
    font-size: 24px;
    line-height: 31px;
    margin: 31px 0 17px 0;
}

#base #second_content .right .leaf_banner p {
    display: block;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    color: #838383;
    padding: 0 20px;
    margin: 0 0 18px 0;
}

#base #second_content .right .leaf_banner .more {
    font-weight: bold;
    display: block;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    color: #3f9844;
    margin: -3px 25px 0;
    padding: 0 0 14px;
    background: url('../images/arrow.png') no-repeat bottom center;
    cursor: pointer;
}

#base #second_content .right .leaf_banner .header span {
    font-family: 'old_standard_tt_italic';
    color: #3f9844;
    font-size: 36px;
    line-height: 37px;
    display: block;
}

#base #second_content .right .contact_banner {
    width: 256px;
    height: 530px;
    float: left;
    position: relative;
}

#base #second_content .right .contact_banner .header {
    color: #383025;
    font-family: 'raleway_light', sans-serif;
    font-size: 36px;
    line-height: 30px;
    margin: 39px 0 0 30px;
}

#base #second_content .right .contact_banner .address {
    color: #383025;
    font-family: 'raleway_regular', sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin: 4px 0 0 30px;
}

#base #second_content .right .contact_banner .address span {
    color: #ef163f;
    font-family: 'raleway_bold', sans-serif;
    font-size: 18px;
}

#base #second_content .right .contact_banner #map_container {
    height: 255px;
    overflow: hidden;
    -webkit-border-radius: 0px 16px 16px 0px;
    border-radius: 0px 16px 16px 0px;
    position: relative;
    margin: 11px 0 19px 0;
}

#base #second_content .right .contact_banner #map_container #map {
    height: 255px;
    overflow: hidden;
    -webkit-border-radius: 0px 16px 16px 0px;
    border-radius: 0px 16px 16px 0px;
    position: relative;
    background: #dfdfdf;
}

#base #second_content .right .contact_banner #map_container #map-mask {
    height: 255px;
    overflow: hidden;
    width: 256px;
    background: url('../images/map-mask.png') no-repeat 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

#base #second_content .right .contact_banner .phone {
    color: #383025;
    font-family: 'raleway_light', sans-serif;
    font-size: 30px;
    line-height: 36px;
    margin: -5px 0 0 30px;
}

#base #second_content .right .contact_banner .phone span {
    color: #ef163f;
    font-family: 'raleway_bold', sans-serif;
    font-size: 14px;
    line-height: 36px;
}

#base #second_content .right .contact_banner .link {
    color: #5d5551;
    font-size: 12px;
    line-height: 30px;
    display: block;
    font-weight: bold;
    margin: 4px 0 0 30px;
}

#base #second_content .right .contact_banner .phone_icon {
    background: url('../images/contact.png') no-repeat left bottom;
    position: absolute;
    top: 389px;
    right: -84px;
    width: 105px;
    height: 80px;
}

#footer {
    background: url('../images/leafs3.png') no-repeat 619px bottom;
    border-top: 2px solid #eeeeed;
    position: relative;
    margin: 45px auto 0 auto;
    width: 980px;
    height: 257px;
}

#footer #menu_bottom {
    overflow: hidden;
    padding: 0;
    margin: 50px 0 4px 0;
}

#footer #menu_bottom li {
    overflow: hidden;
    padding: 0;
    margin: 0 30px 0 0;
    float: left;
}

#footer #menu_bottom li a {
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: block;
    font-size: 11px;
    color: #838383;
    line-height: 18px;
}

#footer #menu_bottom li.current a {
    color: #3f9844;
}

#footer #copyrights {
    width: 680px;
    height: 100px;
    overflow: hidden;
    float: left;
    color: #838383;
    font-weight: bold;
    line-height: 30px;
    font-size: 11px;
}

#footer #copyrights span {
    font-size: 11px;
    color: #54b15a;
}

#footer #realization {
    width: 300px;
    height: 100px;
    overflow: hidden;
    float: right;
}

#footer #realization a {
    color: #838383;
    font-weight: bold;
    line-height: 30px;
    font-size: 11px;
    float: right;
}

#footer #realization img {
    float: right;
}

#overside {
    position: absolute;
    width: 220px;
    height: 97px;
    z-index: 1;
    right: 23px;
}

#overside.page {
    top: 836px;
}

#overside.news {
    top: 630px;
}

#overside.news_details {
    top: 630px;
}

#overside.pricing {
    top: 472px;
}

#overside.team {
    top: 797px;
}

#overside.gallery {
    top: 673px;
}

#overside.gallery_details {
    top: 525px;
}

#overside.dietetyk {
    top: 593px;
}

#overside a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px rgba(29, 84, 31, .22);
    display: block;
    height: 45px;
    line-height: 45px;
    overflow: hidden;
    text-align: center;
    margin: 0 25px 7px 18px;
}

#overside a + a {
    color: #f01740;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    margin: 0;
}

#overside a:hover {
    text-decoration: none;
}

#kontakt {
    background: url('../images/popup_kontakt_bg.png') no-repeat left top;
    width: 578px;
    height: 516px;
    overflow: hidden;
    position: absolute;
    top: 233px;
    left: -30px;
}

#kontakt h1.header_kontakt {
    margin: 26px 0 21px 0;
    padding-left: 30px;
    font-family: 'raleway_extralight', sans-serif;
    font-size: 60px;
    line-height: 60px;
    overflow: hidden;
    color: #fff;
    text-shadow: 0 1px rgba(95, 152, 79, .44);
}

#kontakt .left_kontakt {
    float: left;
    overflow: hidden;
    width: 275px;
    height: 500px;
    margin: 0 23px 0 30px;
}

#kontakt .left_kontakt .success {
    padding-top: 112px;
    line-height: 20px;
    font-size: 16px;
    text-shadow: 0 1px rgba(95, 152, 79, .44);
    color: #fff;
    font-weight: bold;
}

#kontakt .right_kontakt {
    float: left;
    overflow: hidden;
    width: 250px;
    height: 500px;
}

#kontakt .right_kontakt div {
    line-height: 18px;
    font-size: 24px;
    overflow: hidden;
    text-shadow: 0 1px rgba(95, 152, 79, .44);
    color: #fff;
    font-weight: bold;
    padding: 20px 0 14px 0;
    margin: -12px 0 0 0;
}

#kontakt .right_kontakt div + div {
    background: url('../images/kontakt_bg.png') no-repeat top left;
    margin: 0;
}

#kontakt .right_kontakt .f14 {
    font-size: 14px;
}

#kontakt .right_kontakt .f16 {
    font-size: 16px;
}

#kontakt .right_kontakt .f18 {
    font-size: 18px;
}

#kontakt .right_kontakt .f30 {
    font-size: 30px;
}

#kontakt .right_kontakt .l18 {
    line-height: 18px;
}

#kontakt .right_kontakt .l30 {
    line-height: 30px;
}

#kontakt .right_kontakt .lg {
    color: #f0ffc5;
}

.popup {
    background: url('../images/popup_bg.png') repeat left top;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 77;
}

.popup .popup_wizyta_content {
    background: url('../images/popup_wizyta_bg.png') no-repeat left top;
    width: 613px;
    height: 835px;
}

.popup .popup_karnet_step_1_content {
    background: url('../images/popup_karnet_step_1_bg.png') no-repeat left top;
    width: 771px;
    height: 484px;
}

.popup .popup_karnet_step_2_content {
    background: url('../images/popup_karnet_step_2_bg.png') no-repeat left top;
    width: 771px;
    height: 581px;
}

.popup .popup_karnet_step_3_content {
    background: url('../images/popup_karnet_step_3_bg.png') no-repeat left top;
    width: 613px;
    height: 587px;
}

.popup .popup_karnet_step_4_content {
    background: url('../images/popup_karnet_step_4_bg.png') no-repeat left top;
    width: 613px;
    height: 560px;
}

.popup .popup_content {
    position: relative;
    margin: 228px auto 0px auto;
    z-index: 99;
}

.popup .popup_content .popup_close {
    background: url('../images/popup_close_bg.png') no-repeat left top;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.popup .popup_content .popup_close:hover {
    background-position: left bottom;
}

.popup .popup_content .popup_body .popup_title {
    padding-top: 34px;
    line-height: 60px;
    font-family: 'raleway_extralight', sans-serif;
    font-size: 60px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 1px 0px rgba(49, 80, 40, 0.44);
}

.popup .popup_content .popup_body .popup_text {
    padding: 14px 0px 24px 0px;
    line-height: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 1px 0px rgba(49, 80, 40, 0.44);
}

.popup .popup_content .popup_body .popup_text span {
    line-height: 30px;
    font-size: 24px;
    font-weight: normal;
    color: #dfffaf;
}

.popup .popup_content .popup_body .popup_form_success {
    padding: 100px 0px 24px 0px;
    line-height: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 1px 0px rgba(49, 80, 40, 0.44);
}

.popup .popup_content .popup_body .popup_form_label {
    padding-bottom: 6px;
    line-height: 28px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 1px 0px rgba(49, 80, 40, 0.44);
}

.popup .popup_content .popup_body .popup_form_field {
    padding-bottom: 12px;
}

.popup .popup_content .popup_body .popup_form_field > input,
.popup .popup_content .popup_body .popup_form_field > textarea {
    margin: 0px auto;
}

.popup .popup_content .popup_body .popup_form_field .datepicker_container {
    position: relative;
    width: 275px;
    margin: 0px auto;
}

.popup .popup_content .popup_body .popup_form_field .datepicker_container .ui-datepicker-trigger {
    background: transparent url("../images/calendar_icon.png") no-repeat top left;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
    text-indent: -99999px;
    position: absolute;
    right: 18px;
    top: 12px;
}

.popup .popup_content .popup_body .popup_form_separator {
    margin: 16px auto 28px auto;
    background-color: #bdf289;
    width: 20px;
    height: 2px;
}

.popup .popup_content .popup_body .karnety_container {
    padding: 0px 23px 0px 22px;
}

.popup .popup_content .popup_body .karnety_container .karnet_item {
    background: url('../images/karnet_item_bg.png') no-repeat left top;
    padding: 0px 30px;
    float: left;
    width: 202px;
}

.popup .popup_content .popup_body .karnety_container .karnet_item_first {
    background: url('../images/karnet_item_first_bg.png') no-repeat left top;
    padding-left: 0px;
}

.popup .popup_content .popup_body .karnety_container .karnet_item_last {
    background: url('../images/karnet_item_last_bg.png') no-repeat left top;
    padding-right: 0px;
}

.popup .popup_content .popup_body .karnety_container .karnet_item .karnet_item_checbox {
    background: url('../images/karnet_item_checkbox.png') no-repeat left top;
    margin: 0px auto;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.popup .popup_content .popup_body .karnety_container .karnet_item .karnet_item_checbox_selected {
    background-position: left bottom;
}

.popup .popup_content .popup_body .karnety_container .karnet_item .karnet_item_name {
    padding: 13px 0px 8px 0px;
    line-height: 18px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 1px 0px rgba(49, 80, 40, 0.44);
}

.popup .popup_content .popup_body .karnety_container .karnet_item .karnet_item_name span {
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    color: #dfffaf;
}

.popup .popup_content .popup_body .karnety_container .karnet_item .karnet_item_separator {
    background-color: #bdf289;
    margin: 0px auto;
    width: 34px;
    height: 2px;
}

.popup .popup_content .popup_body .karnety_container .karnet_item .karnet_item_description {
    padding: 8px 0px 10px 0px;
    line-height: 18px;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 1px 0px rgba(49, 80, 40, 0.44);
}

.popup .popup_content .popup_body .karnety_container .karnet_item .karnet_item_price {
    padding: 8px 0px 3px 0px;
    line-height: 24px;
    font-size: 24px;
    text-align: center;
    color: #e7ffc2;
    text-shadow: 0px 1px 0px rgba(49, 80, 40, 0.44);
}

.popup .popup_content .popup_body .karnety_container .karnety_regulamin_container {
    width: 636px;
    height: 280px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    background-color: #fff;
    -webkit-box-shadow: inset -1px 2px 6px rgba(0, 0, 0, .25);
    -moz-box-shadow: inset -1px 2px 6px rgba(0, 0, 0, .25);
    box-shadow: inset -1px 2px 6px rgba(0, 0, 0, .25);
    border: solid 1px #c3ffc7;
    padding: 10px 14px;
    margin: 0px auto;
}

.popup .popup_content .popup_body .karnety_container .karnety_regulamin_container .karnety_regulamin {
    width: 636px;
    height: 280px;
    color: #838383;
    font-size: 12px;
    line-height: 18px;
    overflow: auto;
}

.popup .popup_content .popup_body .karnety_container .karnet_text_green {
    font-weight: bold;
    color: #e7ffc2;
    font-size: 14px;
    line-height: 24px;
    text-shadow: 0px 1px 0px rgba(49, 80, 40, 0.44);
    text-align: center;
}

.popup .popup_content .popup_body .karnety_container .karnet_text_white {
    font-weight: bold;
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    text-shadow: 0px 1px 0px rgba(49, 80, 40, 0.44);
    text-align: center;
}

.popup .popup_shadow {
    background: url('../images/popup_shadow_bg.png') no-repeat left top;
    margin: 0px auto;
    width: 599px;
    height: 49px;
    z-index: 99;
}

.preloader_container {
    position: absolute;
    display: none;
    top: 400px;
    width: 100%;
    z-index: 999;
}

.preloader_container .preloader {
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    background: url('../images/popup_bg.png') repeat left top;
    width: 64px;
    height: 64px;
    padding: 50px 80px;
    margin: 0px auto;
}

