<div class="popup_title">Karnet</div>
<div class="popup_text"><span>Krok 2.</span> Zapoznaj się z regulaminem.</div>
<div class="karnety_container" style="padding-bottom: 19px;">
    <div class="karnety_regulamin_container">
        <div class="karnety_regulamin">{{ cms_config.get('added_texts_regulamin', '')|raw }}</div>
    </div>
</div>
<div class="karnet_form_container">
    <form id="karnet-step-2-form" action="{{ path('lscms_karnet_step_2_submit') }}" onsubmit="return submitKarnetStep2();">
        <div class="popup_form_separator" style="margin: 0px auto;"></div>
        <div class="popup_form_field" style="padding-top: 19px;">
            <input type="hidden" name="accept_regulamin" value="1" />
            <input type="submit" name="submit" value="Akceptuję treść regulaminu" />
        </div>
    </form>
</div>
