{% extends '::base.html.twig' %}

{% block title %}Kontakt - {{ parent() }}{% endblock %}


{% block body %}

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript">
        function initialize() {
            var myLatlng = new google.maps.LatLng({{ cms_config.get('gps_latitude','') }}, {{ cms_config.get('gps_longitude','') }});
            var mapOptions = {
                zoom: 15,
                center: myLatlng,
                disableDefaultUI: true,
                styles:[{"featureType":"all","stylers":[{"saturation":0},{"hue":"#e7ecf0"}]},{"featureType":"road","stylers":[{"saturation":-70}]},{"featureType":"transit","stylers":[{"visibility":"off"}]},{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"simplified"},{"saturation":-60}]}]
            };
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);

            var marker = new google.maps.Marker({
                position: myLatlng,
                animation: google.maps.Animation.DROP,
                map: map,
                title: '{{ cms_config.get('seo_title', '') }}'
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    <div id="contentWrapper">
        <div class="pageHeader">
            <div class="title">
                <h1>Kontakt</h1>
                <figure class="triangle1"></figure>
                <figure class="triangle2"></figure>
                <figure class="triangle3"></figure>
                <figure class="triangle4"></figure>
                <figure class="decor"></figure>
            </div>
            <div class="image contact"></div>
        </div>
        <figure class="line"></figure>
        <section id="breadcrumbs">
            <ul>
                <li class="home"><a href="{{ path('lscms_homepage') }}" class="home">&nbsp;</a></li>
                <li><a href="{{ path('lscms_kontakt') }}">Kontakt</a></li>

            </ul>
        </section>
        {% include "LsCmsBundle::leftSidebar.html.twig" %}
        <div id="contact" class="wideBox">
            <section class="pageContent">
                <p class="bigger">ONYXX Auto Detailing</p>
                <p class="smaller">{{ cms_config.get('company_address','') }}</p>
                <br/>
                <span class="phone">{{ cms_config.get('phone_number','') }} </span>
                <span class="mail"><a href="mailto:{{ cms_config.get('email_to_kontakt','') }}">{{ cms_config.get('email_to_kontakt','') }}</a></span>
                <span class="fb"><a href="{{ cms_config.get('facebookFanpage','') }}" target="_blank">{{ cms_config.get('facebookFanpage','')|slice(11) }}</a></span>
            </section>
            <section class="contactForm">

                {% if success %}
                    <div class="success">Twoja wiadomość została wysłana.</div>
                {% else %}

                    {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
                    <div class="row">
                        <div class="item">
                            <figure></figure>
                            {{ form_widget(form.name, {'attr': {'id': 'name','placeholder':'Imię i nazwisko' }}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="item half">
                            <figure></figure>
                            {{ form_widget(form.phone, {'attr': {'id': 'phone','placeholder':'Nr telefonu'}}) }}
                        </div>
                        <div class="item half">
                            <figure></figure>
                            {{ form_widget(form.email, {'attr': {'id': 'email','placeholder':'Adres e-mail'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="item services">
                            <figure></figure>
                            {#<select class="selectmenu" name="form[subject]">
                                <option value="">Wybierz usługę</option>
                                {% for category in categories %}
                                    <option value="{{ category }}">{{ category }}</option>
                                {% endfor %}
                            </select>#}
                            {{ form_widget(form.subject, {'attr': {'id': 'subject','class': 'selectmenu'} } ) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="item">
                            <figure></figure>

                            {{ form_widget(form.content, {'attr': {'id': 'description','placeholder':'Treść wiadomości'} } ) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="submit">
                            <figure class="triangle triangle1"></figure>
                            <figure class="triangle triangle2"></figure>
                            <figure class="triangle triangle3"></figure>

                            <input type="submit" value="Wyślij"/>
                        </div>
                    </div>

                    {{ form_end(form) }}
                {% endif %}


            </section>
        </div>
        <div class="wideBox">
            <section class="mapContainer">
                <figure></figure>
                <div id="map"></div>
            </section>
            <div id="contactPhotobox">
                <ul>
                    <li><img class="first" src="/upload/settings/{{ cms_config.get('file_kontakt1','') }}" alt="" /></li>
                    <li><img src="/upload/settings/{{ cms_config.get('file_kontakt2','') }}" alt="" /></li>
                    <li><img class="last" src="/upload/settings/{{ cms_config.get('file_kontakt3','') }}" alt="" /></li>
                </ul>
            </div>
        </div>
    </div>




    {#<div id="content-wrapper">
        <div id="contact" class="content">
            <section class="header bg-3"><h1>Kontakt</h1>
                <a href="#" class="go-back">Powrót</a>
            </section>


            {% include "LsCmsBundle::rightSide.html.twig" with {categories : categories, label: 'Moja działalność:'} %}

            <section class="right-side">
                <article>
                    <header>
                        <h1 class="title color">Formularz kontaktowy</h1>
                    </header>
                    <div class="content">
                        <p class="lead">Masz pytanie lub chcesz nawiązać ze mną kontakt? Skorzystaj w tym celu z zamieszczonego tutaj formularza.</p>
                        <figure class="line first-line"></figure>

                        <div class="form-wrapper">
                            <div class="tip">
                                Bezpośredni adres e-mail:<br/><a href="mailto:piotr@piotrjanczarek.pl">piotr@piotrjanczarek.pl</a>
                            </div>

                            {% if success %}
                                <div class="success">Twoja wiadomość została wysłana.</div>
                            {% else %}

                                {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
                                <span class="required">* - pole obowiązkowe</span>

                                <label for="name">Imię i nazwisko<span class="star">*</span>:</label>
                                {{ form_widget(form.name, {'attr': {'id': 'name' }}) }}


                                <label for="email">E-mail<span class="star">*</span>:</label>
                                {{ form_widget(form.email, {'attr': {'id': 'email'}}) }}


                                <label for="subject">Temat:</label>
                                {{ form_widget(form.subject, {'attr': {'id': 'subject'} } ) }}


                                <label for="form[content]">Treść wiadomości:</label>
                                {{ form_widget(form.content, {'attr': {'id': 'description'} } ) }}



                                {{ form_widget(form.submit, {'attr': {} }) }}

                                {{ form_end(form) }}
                            {% endif %}
                        </div>
                    </div>
                    <figure class="line second-line clear"></figure>
                    <div class="about-me">
                        <div class="img-ld"><img src="{{ asset('bundles/frontend/img/banner-subpage.jpg') }}" alt=""/></div>
                        <div class="img-md"><img src="{{ asset('bundles/frontend/img/banner-subpage-md.jpg') }}" alt=""/></div>
                        <div class="img-sd"><img src="{{ asset('bundles/frontend/img/banner-subpage-sd.jpg') }}" alt=""/></div>
                        <div class="name">
                            <span>Piotr<br/>Janczarek</span>
                            <a href="{{ path('lscms_kontakt') }}" class="more">Dowiedz się więcej</a>
                        </div>
                    </div>
                </article>
            </section>

        </div>
    </div>#}


{% endblock %}
