{% extends '::base.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var cords;
        var map;

        function initialize() {
            cords = new google.maps.LatLng({{ cms_config.get('kontakt_latitude', '') }}, {{ cms_config.get('kontakt_longitude', '') }});
            var mapOptions = {
                zoom: 11,
                center: cords,
                panControl: false,
                zoomControl: false,
                scaleControl: false,
                mapTypeControl: false,
                streetViewControl: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(
                    document.getElementById('map'),
                    mapOptions
            );
            var marker = new google.maps.Marker({
                position: cords,
                map: map,
                title: '{{ cms_config.get('kontakt_nazwa_top', '') }} {{ cms_config.get('kontakt_nazwa_bottom', '') }}'
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block underside %}
    <div id="underside">
        <div id="ladies" class="lady_1"></div>
    </div>
    <div id="underside_cloud" class="gallery_details"></div>
{% endblock %}

{% block body %}
    <div id="base">
        <h1 class="header team">Galeria</h1>

        <div id="first_content">
            <div class="gallery_details">
                <a href="{{ path('lscms_gallery') }}" class="back">Powrót</a>

                <div class="title">{{ entity.title }}</div>
                <div class="desc">{{ entity.content|raw }}</div>
                {% include "LsCmsBundle::gallery.html.twig" with { photos: entity.photos } %}
            </div>
        </div>
        <div class="clear"></div>
        {% include "LsCmsBundle::dietetic-banner.html.twig" %}
        <div id="second_content">
            {% include "LsCmsBundle::second-content.html.twig" with { news: news } %}
        </div>
        {% include "LsCmsBundle::overside.html.twig" with { class: 'gallery_details' } %}
    </div>
{% endblock %}
