.editor {
    font-family: "Arial", "Tahoma", sans-serif;
    font-size: 11px;
    margin: 10px;
    width: 658px;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
}

a {

}

a:hover {
    text-decoration: underline;
}

p {
    line-height: 19px;
    font-family: "Arial", "Tahoma", sans-serif;
    color: #535353;


    margin: 0;
    padding: 0;
    outline: none;
}



h2{
    font-family: "Arial", "Tahoma", sans-serif;
}

span.red {

}

span.green {

}

p.header {

}

div.quote {

}

div.quote:before {

}

.editor ul{
    /* normaly inherited property */
    line-height: 19px;
    padding: 0;
    outline: none;
    font-size: 11px;

    margin: 5px 0;
}

.editor ul li{
    /* normaly inherited property */
    margin: 0;
    padding: 0;
    outline: none;
    line-height: 19px;
    /* defult element style */

    list-style: none;
    padding-left: 18px;
    background: transparent url('/bundles/frontend/img/li.png') no-repeat scroll 0 5px;

}


.wyroznienie {
    color: #fff;

    text-align: center;
    font-family: 'robotobold';
    font-size: 14px;
    line-height: 22px;
    background-color: #044577;
    padding: 8px 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    margin: 15px 45px;
}

strong{
    font-family: "Arial", "Tahoma", sans-serif;
}