.editor
{
    width: 460px;
}

.editor p,
#under_slider #slider .item .part_2 .text p
{
    font-family: 'open_sanssemibold';
    font-size: 18px;
    line-height: 24px;
    color: #f4ebe7;
}

.editor p u,
#under_slider #slider .item .part_2 .text p u
{
    color: #ffffff;
    font-family: 'open_sansbold';
}

