{% extends '::base.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block body %}

    <div id="contentWrapper">
        <div class="pageHeader">
            <div class="title">
                <h1>Szkolenia</h1>
                <figure class="triangle1"></figure>
                <figure class="triangle2"></figure>
                <figure class="triangle3"></figure>
                <figure class="triangle4"></figure>
                <figure class="decor"></figure>
            </div>
            <div class="image training"></div>
        </div>
        <figure class="line"></figure>
        <section id="breadcrumbs">
            <ul>
                <li class="home"><a href="{{ path('lscms_homepage') }}" class="home">&nbsp;</a></li>
                <li><a href="{{ path('lscms_trainings') }}">Szkolenia</a></li>
                <li><a href="{{ path('lscms_trainings_details',{slug:entity.slug}) }}">{{ entity.title }}</a></li>
            </ul>
        </section>
        {% include "LsCmsBundle::leftSidebar.html.twig" %}
        <div id="trainingDetail" class="wideBox">
            <section class="pageContent">
                <div class="title"><h2>{{ entity.title }}</h2></div>
                {{ entity.content|raw }}
            </section>
            <section class="contactForm">
                <header>Jeśli jesteś zainteresowany szkoleniami z Auto detailingu. <strong>Skontaktuj się z nami.</strong></header>
                {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
                    <div class="row">
                        <div class="item">
                            <figure></figure>
                            {{ form_widget(form.name, {'attr': {'id': 'name','placeholder':'Imię i nazwisko' }}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="item half">
                            <figure></figure>
                            {{ form_widget(form.phone, {'attr': {'id': 'phone','placeholder':'Nr telefonu'}}) }}
                        </div>
                        <div class="item half">
                            <figure></figure>
                            {{ form_widget(form.email, {'attr': {'id': 'email','placeholder':'Adres e-mail'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="item city">
                            <figure></figure>

                            {{ form_widget(form.city, {'attr': {'id': 'city','placeholder':'Miasto'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="label">Wybierz termin</div>
                        <div class="item date">
                            <figure></figure>

                            {{ form_widget(form.dateFrom, {'attr': {'id': 'date_from','placeholder':'Od','class':'datepicker'}}) }}
                        </div>
                        <div class="item date">
                            <figure></figure>

                            {{ form_widget(form.dateTo, {'attr': {'id': 'date_to','placeholder':'Do','class':'datepicker'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="item">
                            <figure></figure>
                            {{ form_widget(form.content, {'attr': {'id': 'description','placeholder':'Uwagi'} } ) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="submit">
                            <figure class="triangle triangle1"></figure>
                            <figure class="triangle triangle2"></figure>
                            <figure class="triangle triangle3"></figure>
                            <input type="submit" value="Wyślij"/>
                        </div>
                    </div>

                {{ form_end(form) }}
            </section>
        </div>
    </div>

{% endblock %}
