{# default Sliding pagination control implementation #}
{% if pageCount > 1 %}
<div class="paginate">

    {% if previous is defined %}

    <span class="prev"><a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">Poprzednia</a></span>
    {% else %}
    <span class="left">&nbsp;</span>
    {% endif %}
    {% for page in pagesInRange %}
    {% if page != current %}
    <span class="item"><a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></span>
    {% else %}
    <span class="active item">{{ page }}</span>
    {% endif %}
    {% endfor %}
    {% if next is defined %}
    <span class="next"><a href="{{ path(route, query|merge({(pageParameterName): next})) }}">Następna</a></span>
    {% else %}
    <span class="right">&nbsp;</span>
    {% endif %}

</div>
{% endif %}

{#<div class="paginate">
                <span class="prev"><a href="#">Poprzednia</a></span>
                <span class="item"><a href="#">1</a></span>
                <span class="item"><a href="#">2</a></span>
                <span class="item active">3</span>
                <span class="item"><a href="#">4</a></span>
                <span class="next"><a href="#">Następna</a></span>
            </div>#}