{% extends '::base.html.twig' %}

{% block title %}Projekty - {{ parent() }}{% endblock %}



{% block body %}

    <div id="contentWrapper">
        <div class="pageHeader">
            <div class="title">
                <h1>Projekty</h1>
                <figure class="triangle1"></figure>
                <figure class="triangle2"></figure>
                <figure class="triangle3"></figure>
                <figure class="triangle4"></figure>
                <figure class="decor"></figure>
            </div>
            <div class="image projects"></div>
        </div>
        <figure class="line"></figure>
        <section id="breadcrumbs">
            <ul>
                <li class="home"><a href="{{ path('lscms_homepage') }}" class="home">&nbsp;</a></li>
                <li><a href="{{ path('lscms_projekty') }}">Projekty</a></li>
            </ul>
        </section>
        {#{% include "LsCmsBundle::leftSidebar.html.twig" %}#}
        <aside class="sidebarLeft socialIcons">

        </aside>
        <div id="projectsListing" class="wideBox">
            <ul>
                {% for entity in entities %}
                <li>
                    <div class="content">
                        <div class="title adjustTitleLength">
                            <h2><a href="{{ path('lscms_projekty_detail',{slug:entity.slug}) }}">{{ entity.title }}</a></h2>
                            <figure class="triangle triangle1"></figure>
                        </div>
                        <a href="{{ path('lscms_projekty_detail',{slug:entity.slug}) }}"><img src="{{ entity.getThumbWebPath('detail') }}" alt=""/></a>
                    </div>
                    {% if entity.gallery %}
                        {% for photo in entity.gallery.photos|slice(0,2) %}
                        <figure class="side"><a class="fancybox" rel="fancybox" href="{{ photo.getPhotoWebPath() }}"><img src="{{ photo.getThumbWebPath('detail') }}" alt=""/></a></figure>
                        {% endfor %}
                    {% endif %}

                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
