{% extends '::base.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block body %}

    <div id="contentWrapper">
        <div class="pageHeader">
            <div class="title">
                <h1>Newsy</h1>
                <figure class="triangle1"></figure>
                <figure class="triangle2"></figure>
                <figure class="triangle3"></figure>
                <figure class="triangle4"></figure>
                <figure class="decor"></figure>
            </div>
            <div class="image news"></div>
        </div>
        <figure class="line"></figure>
        <section id="breadcrumbs">
            <ul>
                <li class="home"><a href="{{ path('lscms_homepage') }}" class="home">&nbsp;</a></li>
                <li><a href="{{ path('lscms_news') }}">Newsy</a></li>
                <li><a href="{{ path('lscms_news_show',{slug:entity.slug}) }}">{{ entity.title }}</a></li>
            </ul>
        </section>
        {% include "LsCmsBundle::leftSidebar.html.twig" %}
        <div id="newsDetail" class="wideBox">
            <section class="pageContent">
                <div class="title"><h2>{{ entity.title }}</h2></div>
                {{ entity.content|raw }}
            </section>

            {% if entity.gallery %}
                {% include "LsCmsBundle::gallery.html.twig" with { photos: entity.gallery.photos } %}
            {% endif %}

        </div>
    </div>


    {#<div id="content-wrapper">
        <div id="news" class="content">
            <section class="header bg-2"><h1>Aktualności:</h1>
                <a href="#" class="go-back">Powrót</a>
            </section>


            {% include "LsCmsBundle::rightSide.html.twig" with {categories : categories, label: 'Moja działalność:'} %}

            <section class="right-side">
                <article>
                    <header>
                        <time>{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
                        <h1 class="title">{{ entity.title }}</h1>
                    </header>
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{ path('lscms_homepage') }}">Strona główna</a> <span class="divider"></span>
                        </li>
                        <li>
                            <a href="{{ path('lscms_news') }}">Aktualności</a> <span class="divider"></span>
                        </li>
                        <li class="active">{{ entity.title }}</li>
                    </ul>
                    <figure class="line"></figure>
                    <div class="content">

                        {% if entity.getPhotoWebPath %}
                            <a href="{{ entity.getPhotoWebPath() }}?{{ random(10000) }}" class="leading-photo fancybox">

                                <img src="{{ entity.getThumbWebPath('detail') }}?{{ random(10000) }}"/>
                                
                            </a>

                        {% endif %}


                        {{ entity.content|raw }}
                        {% if entity.gallery %}
                            {% include "LsCmsBundle::gallery.html.twig" with { photos: entity.gallery.photos } %}
                        {% endif %}

                    </div>
                    <div class="about-me">
                        <div class="img-ld"><img src="{{ asset('bundles/frontend/img/banner-subpage.jpg') }}" alt=""/></div>
                        <div class="img-md"><img src="{{ asset('bundles/frontend/img/banner-subpage-md.jpg') }}" alt=""/></div>
                        <div class="img-sd"><img src="{{ asset('bundles/frontend/img/banner-subpage-sd.jpg') }}" alt=""/></div>
                        <div class="name">
                            <span>Piotr<br/>Janczarek</span>
                            <a href="#" class="more">Dowiedz się więcej</a>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </div>#}


{% endblock %}
